@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div id="sc-help" class="sc-section ">
    <div class="sc-container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="help-img">
                    <img src="/media/1674/hjaelp-hinanden.svg" alt="Help">
                    <p>@Umbraco.AssignedContentItem.Value("Picture1")</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="help-img">
                    <img src="/media/1670/vores-community2.svg" alt="Help">
                    <p>@Umbraco.AssignedContentItem.Value("Picture2")</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="help-img">
                    <img src="/media/1671/support.svg" alt="Help">
                    <p>@Umbraco.AssignedContentItem.Value("Picture3")</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="help-img">
                    <img src="/media/1682/coaching.svg" alt="Help">
                    <p>@Umbraco.AssignedContentItem.Value("Picture4")</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <div class="help-img">
                    <img src="/media/1679/partnere.svg" alt="Help">
                    <p>@Umbraco.AssignedContentItem.Value("Picture5")</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="help-img">
                    <img src="/media/1669/forbedring.svg" alt="Help">
                    <p>@Umbraco.AssignedContentItem.Value("Picture6").</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="help-img">
                    <img src="/media/1677/hurtig-vaekst.svg" alt="Help">
                    <p>@Umbraco.AssignedContentItem.Value("Picture7")</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="help-img">
                    <img src="/media/1672/kompetence-udvikling.svg" alt="Help">
                    <p>@Umbraco.AssignedContentItem.Value("Picture8")</p>
                </div>
            </div>
        </div>
    </div>
</div>