@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="sc-section">
    <div class="sc-container">

        <div class="row ">
            <div class="text-center sc-heading sc-heading-black">
                <h2>@Umbraco.AssignedContentItem.Value("ServiceTitle")</h2>
                <p>@Umbraco.AssignedContentItem.Value("ServiceSubtitle")</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="service-offers " data-animate-effect="fadeInLeft">
                    <span class="icon">@Umbraco.AssignedContentItem.Value("OfferIconOne")</span>
                    <div class="feature-copy">
                        <h3>@Umbraco.AssignedContentItem.Value("OfferTitleOne")</h3>
                        <p>@Umbraco.AssignedContentItem.Value("OfferDescriptionOne")</p>
                    </div>
                </div>

                <div class="service-offers " data-animate-effect="fadeInLeft">
                    <span class="icon">@Umbraco.AssignedContentItem.Value("OfferIconTwo")</span>
                    <div class="feature-copy">
                        <h3>@Umbraco.AssignedContentItem.Value("OfferTitleTwo")</h3>
                        <p>@Umbraco.AssignedContentItem.Value("OfferDescriptionTwo")</p>
                    </div>
                </div>

                <div class="service-offers " data-animate-effect="fadeInLeft">
                    <span class="icon">@Umbraco.AssignedContentItem.Value("OfferIconThree")</span>
                    <div class="feature-copy">
                        <h3>@Umbraco.AssignedContentItem.Value("OfferTitleThree")</h3>
                        <p>@Umbraco.AssignedContentItem.Value("OfferDescriptionThree")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-offers " data-animate-effect="fadeInLeft">
                    <span class="icon">@Umbraco.AssignedContentItem.Value("OfferIconFour")</span>
                    <div class="feature-copy">
                        <h3>@Umbraco.AssignedContentItem.Value("OfferTitleFour")</h3>
                        <p>@Umbraco.AssignedContentItem.Value("OfferDescriptionFour")</p>
                    </div>
                </div>

                <div class="service-offers " data-animate-effect="fadeInLeft">
                    <span class="icon">@Umbraco.AssignedContentItem.Value("OfferIconFive")</span>
                    <div class="feature-copy">
                        <h3>@Umbraco.AssignedContentItem.Value("OfferTitleFive")</h3>
                        <p>@Umbraco.AssignedContentItem.Value("OfferDescriptionFive")</p>
                    </div>
                </div>

                <div class="service-offers " data-animate-effect="fadeInLeft">
                    <span class="icon">@Umbraco.AssignedContentItem.Value("OfferIconSix")</span>
                    <div class="feature-copy">
                        <h3>@Umbraco.AssignedContentItem.Value("OfferTitleSix")</h3>
                        <p>@Umbraco.AssignedContentItem.Value("OfferDescriptionSix")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>