@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div id="sc-team" class="">
    <div class="sc-container">
        <div class="sc-row">
            <div class="col-12 text-center sc-heading sc-heading-black">
                <h2>@Umbraco.AssignedContentItem.Value("teamTitle")</h2>
                <p>@Umbraco.AssignedContentItem.Value("teamSubtitle")</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-4 text-center " data-animate-effect="fadeIn">
                <div class="sc-team">
                    <img src="/media/1633/anders.jpg" alt="Anders">
                    <h3>@Umbraco.AssignedContentItem.Value("andersName")</h3>
                    <strong class="role">@Umbraco.AssignedContentItem.Value("andersRole")</strong>
                    <p>@Umbraco.AssignedContentItem.Value("andersQuote")</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 " data-animate-effect="fadeIn">
                <div class="sc-team">
                    <img src="/media/1636/mathias.jpg" alt="Mathias">
                    <h3>@Umbraco.AssignedContentItem.Value("mathiasName")</h3>
                    <strong class="role">@Umbraco.AssignedContentItem.Value("mathiasRole")</strong>
                    <p>@Umbraco.AssignedContentItem.Value("mathiasQuote")</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 " data-animate-effect="fadeIn">
                <div class="sc-team">
                    <img src="/media/1635/daniel.jpg" alt="Daniel">
                    <h3>@Umbraco.AssignedContentItem.Value("danielName")</h3>
                    <strong class="role">@Umbraco.AssignedContentItem.Value("danielRole")</strong>
                    <p>@Umbraco.AssignedContentItem.Value("danielQuote")</p>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>
            @*
            <div class="col-lg-4 col-md-4 col-sm-6 " data-animate-effect="fadeIn">
                <div class="sc-team">
                    <img src="/media/1693/maria.jpg" alt="Maria">
                    <h3>@Umbraco.AssignedContentItem.Value("mariaName")</h3>
                    <strong class="role">@Umbraco.AssignedContentItem.Value("mariaRole")</strong>
                    <p>@Umbraco.AssignedContentItem.Value("mariaQuote")</p>
                </div>
            </div> 
            *@

            <div class="clearfix visible-lg-block visible-md-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 " data-animate-effect="fadeIn">
                <div class="sc-team">
                    <img src="/media/1632/alexander.jpg" alt="Alex">
                    <h3>@Umbraco.AssignedContentItem.Value("alexName")</h3>
                    <strong class="role">@Umbraco.AssignedContentItem.Value("alexRole")</strong>
                    <p>@Umbraco.AssignedContentItem.Value("alexQuote")</p>
                </div>
            </div>
      
            <div class="col-lg-4 col-md-4 col-sm-6 " data-animate-effect="fadeIn">
                <div class="sc-team">
                    <img src="/media/1638/szabika.jpg" alt="Szabika">
                    <h3>@Umbraco.AssignedContentItem.Value("SzabolcsName")</h3>
                    <strong class="role">@Umbraco.AssignedContentItem.Value("SzabolcsRole")</strong>
                    <p>@Umbraco.AssignedContentItem.Value("SzabolcsQuote")</p>
                </div>
            </div>
            
            <div class="clearfix visible-sm-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 " data-animate-effect="fadeIn">
                <div class="sc-team">
                     <img src="/media/1692/gratseila.jpg" alt="Gratsiela">
                    <h3>@Umbraco.AssignedContentItem.Value("gratsielaName")</h3>
                    <strong class="role">@Umbraco.AssignedContentItem.Value("gratsielaRole")</strong>
                    <p>@Umbraco.AssignedContentItem.Value("gratsielaQuote")</p>
                </div>
            </div>
             
            @*  
            <div class="clearfix visible-sm-block"></div>
            <div class="col-lg-4 col-md-4 offset-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                <div class="sc-team">
                    <img src="" alt="">
                    <h3>@Umbraco.AssignedContentItem.Value("")</h3>
                    <strong class="role">@Umbraco.AssignedContentItem.Value("")</strong>
                    <p>@Umbraco.AssignedContentItem.Value("")</p>
                </div>
            </div>
            *@
        </div> 

</div>