@inherits UmbracoTemplatePage

<div class="sc-container">
    <div class="row   pt-5">
        <div class="text-center  sc-heading sc-heading-black">
            <h2>@Umbraco.AssignedContentItem.GetPropertyValue("pageNameText")</h2>
            <p>@Umbraco.AssignedContentItem.GetPropertyValue("pageSubText")</p>
            
        </div>
    </div>
    <div class="row ">
        <div class="col-12  mx-1">
            <p>@Umbraco.AssignedContentItem.GetPropertyValue("ArticleHeader")</p>
            <p>@Umbraco.AssignedContentItem.GetPropertyValue("ArticleSubHeader")</p>
            <p>@Umbraco.AssignedContentItem.GetPropertyValue("ArticleVisibleContent")</p>
            
            @if (User.Identity.IsAuthenticated)
            {
                <div>@Umbraco.AssignedContentItem.GetPropertyValue("ArticleBlurredContent")</div>
                
                <style>
                  #sc-newsletter {display: none;}
                </style>
            }
            else
            {
                <h3 align="center">"Tilmeld dig for at se resten af artiklen"</h3>
            }

        </div>
    </div>
</div>



