@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.BasicPriceCardLP>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
   
    var currentNode = Umbraco.AssignedContentItem;
    var cNodeC = currentNode.Children.Where(x => x.IsVisible());
    var landingPromoCode = Request.QueryString["landingpromo"];

    var currentUser = Members.GetCurrentMember();
}

<section class="lp-prices-section">
    @if (!Model.Url.ToLower().Contains("priser") && !Model.Url.ToLower().Contains("bliv-medlem") && !Model.Url.ToLower().Contains("prices") && !Model.Url.ToLower().Contains("join-now"))
    {
    <div class="content-header">
        <div class="lp-prices-header" >
        <h2 class="lp-prices-title">@Model.Value("lpBasicPriceCard")</h2>
        </div>
    </div>
    }
    <div class="nfp-prices-big-container">
        @{
            foreach (var card in Umbraco.Content(26278).Children().Where(x => x.IsVisible()))
            {
                string pricingCardV = card.Value<string>("pricingCardV");
                var cardDuration = card.Value<string>("priceCardDuration");
                bool highlighted = card.Value<bool>("pricingCardHighlighted");
                bool isMonthly = card.Value<bool>("pricingCardMonthly");
                bool banner = card.Value<bool>("pricingCardBanner");
                var cardTitle = card.Name;
                var cardPrice = card.Value<string>("pricingCardPrice");
                var cardUnit = card.Value<string>("priceUnitRate");
                var cardDescription = card.Value<string>("pricingCardDescription");
                var cardBindingInfo = card.Value<string>("pricingCardBindingInfo");
                var cardPriceSubtext = card.Value<string>
    ("pricingCardPriceSub");

    string subscriptionType = "";
    switch (pricingCardV)
    {
    case "1":
    subscriptionType = "monthly";
    break;
    case "3":
    subscriptionType = "basic";
    break;
    case "8":
    subscriptionType = "promonthly";
    break;
    case "12":
    subscriptionType = "yearly";
    break;
    case "16":
    subscriptionType = "premium";
    break;
    }

    if (subscriptionType == "basic")
    {
    <div class="nfp-price-card-container">
        <div class="nfp-price-card-top_basic">
            <div class="nfp-price-card-top_text">
                <h2 class="nfp-price-card-top-title">@cardTitle</h2>
                <p class="nfp-price-card-top-price">@cardPrice @cardUnit</p>
            </div>
        </div>
        <div class="nfp-price-card-text_basic">
            <ul class="nfp-price-card-text_list_basic">
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription1")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription2")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription3")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription4")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription5")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription6")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription7")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription8")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription9")</li>
                <li class="nfp-price-card-text_list_item"> @Umbraco.Content(10838).Value("nfpPriceDescription10")</li>
            </ul>
            <button class="nfp-price-card-text_button_basic" value="@cardPrice" onclick="savePlan(@cardPrice, '@subscriptionType', '@landingPromoCode')">@Umbraco.GetDictionaryValue("Choose", "Vælg")</button>
            <p class="nfp-price-card-text_info">@cardBindingInfo</p>
        </div>

    </div>

    }
    }
    }

</div>

</section>

<script>

    // set payment plan amount and type in session state
    function savePlan(amount, type, promocode) {

        $.ajax({
            url: '/umbraco/Surface/RegisterUserDetails/SavePaymentSession',
            type: 'POST',
            data: {
                amount: amount,
                type: type
            },
            success: function (data) {
                console.log(promocode);
                window.location.href = (promocode) ? `${'https://www.startupcentral.dk/bliv-medlem/'}?plan=${type}&landingpromo=${promocode}` : `${'https://www.startupcentral.dk/bliv-medlem/'}?plan=${type}`;
            }
        });
    }
</script>      