@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using StartupCentral.Extensions
@{
    Layout = "Master.cshtml";

    // Ny instans af ForretningsplanController
    StartupCentral.Code.Controllers.ForretningsplanController fc =
    new StartupCentral.Code.Controllers.ForretningsplanController();

    // Paring af form felter med felterne i Umbraco.
    fc.Add("juraftale", "wwjuraftale");
    fc.Add("jurleverand", "wwjurleverand");
    fc.Add("jurcontact", "wwjurcontact");
    fc.Add("jurcvr", "wwjurcvr");
    fc.Add("andetchk", "wwandetchk");
    fc.Add("andetheadline", "wwandetheadline");
    fc.Add("andet", "wwandet");

    var url = HttpContext.Current.Request.RawUrl.Split(new[] { '/' }, StringSplitOptions.RemoveEmptyEntries);

    if (IsPost)
    {
        // Save gemmer i Umbraco på noden af pågældende 'documenttypename'.
        fc.Save(HttpContext.Current.Request, "forretningsplan");

        // Sætter wwcompleted = true.
        fc.FinalizeForretningsplan(HttpContext.Current.Request, "forretningsplan");

        // Redirect til?
        HttpContext.Current.Response.Redirect("/login/minside");

    }
    else
    {
        if (url.Length > 3 && url[3].Contains("?id="))
        {
            // Loading the 'draft' ('kladde') business plan.
            fc.Load("forretningsplan");
        }
    }

    @Html.Raw(fc.BuildAutoSaveScript(Request.QueryString["id"]))

    <main id="sc-businessplan" class="sc-businessplan">
        <div class="container">
            <section class="businessplan">
                <div class="businessplan-container">

                    <div class="businessplan-navigation-container">
                        <button class="button dropButton">Steps</button>
                        @Umbraco.RenderMacro("BlueNavMenu")
                    </div>

                    <div class="businessplan-form-container">
                        @Umbraco.RenderMacro("FormTop")

                        <form action="" method="post" class="businessplan-form" name="juridisk" id="introduktion">

                            <h2 class="headline-2">
                                @if (CurrentPage.wwoverskrift != "")
                                {
                                    @Page.wwoverskrift
                                }
                                else
                                {
                                    @Page.Name
                                }
                            </h2>
                            <p>@Page.wwmanchet</p>

                            <div class="form-container">
                                <label for="juraftale">
                                    <span>Er der en aftale på, hvem der skal investere tid/penge og hvordan ejeforholdet er? </span>
                                </label>
                                <textarea name="juraftale" id="juraftale" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("juraftale")</textarea>

                                @if (CurrentPage.wwinspi1 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_1">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-container">
                                <label for="jurleverand">
                                    <span> Skal leverandører eller andre involveres i projektet - hvis ja, er der en aftale med dem? </span>
                                </label>
                                <textarea name="jurleverand" id="jurleverand" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("jurleverand")</textarea>

                                @if (CurrentPage.wwinspi2 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_2">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-container">
                                <label for="jurcontact">
                                    <span>Er der kontaktet jurister - og hvem?</span>
                                </label>
                                <textarea name="jurcontact" id="jurcontact" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("jurcontact")</textarea>

                                @if (CurrentPage.wwinspi3 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_3">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-container">
                                <label for="jurcvr">
                                    <span>Er der behov for CVR nummer og/eller momsregistrering - hvornår?</span>
                                </label>
                                <textarea name="jurcvr" id="jurcvr" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("jurcvr")</textarea>

                                @if (CurrentPage.wwinspi4 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_4">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-container">
                                <label class="checkbox">
                                    <span>Har du andet at tilføje</span>
                                    <input class="checkbox" type="checkbox" id="andetchk" name="andetchk" value="1" @Umbraco.If(fc.GetValue("andetchk").ToString().ParseBoolean(), "checked")>
                                    <span class="checkmark"></span>
                                </label>

                                @if (CurrentPage.wwinspi5 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_5">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }
                            </div>

                            <div class="form-container" style="display: @(fc.GetValue("andetchk").ToString().ParseBoolean() ? "block" : "none")" id="showandet">
                                <input type="text" name="andetheadline" class="form-control" placeholder="Overskrift" id="andetheadline" value="@fc.GetValue("andetheadline")">
                                <label for="jurcvr">
                                    <span>Er der behov for CVR nummer og/eller momsregistrering - hvornår?</span>
                                </label>
                                <textarea name="andet" id="andet" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("andet")</textarea>
                            </div>


                            <div class="form-footer" id="formbottom">
                                @*<div class="footer-buttons" onclick="javascript:saveCurrentPage()" id="autosave">
                                        <span>Gem Kladde</span>
                                    </div>

                                    <div class="footer-buttons">
                                        <input type="submit" class="button" value="Videre">
                                    </div>*@

                                <input type="submit" class="button startButton" value="Videre" id="submitbsp" onclick="submitBPS()">
                                <a id='sendingBlock' style='display: none;'>Gemmer din forretningsplan ...</a>
                            </div>

                        </form>
                    </div>

                </div>
            </section>
        </div>
    </main>

}

@for (int i = 1; i <= 5; i++)
{
    <div class="modal-container" id="inspi_@i" role="dialog">
        <div class="modal">
            <div class="sc-popup inspo-popup">
                <div class="popup-header primary">
                    @if (i == 1)
                    {
                        @Page.wwoverskrift1
                    }
                    @if (i == 2)
                    {
                        @Page.wwoverskrift2
                    }
                    @if (i == 3)
                    {
                        @Page.wwoverskrift3
                    }
                    @if (i == 4)
                    {
                        @Page.wwoverskrift4
                    }
                    @if (i == 5)
                    {
                        @Page.wwoverskrift5
                    }
                </div>
                <div class="popup-text">
                    @if (i == 1)
                    {
                        @Page.wwinspi1
                    }
                    @if (i == 2)
                    {
                        @Page.wwinspi2
                    }
                    @if (i == 3)
                    {
                        @Page.wwinspi3
                    }
                    @if (i == 4)
                    {
                        @Page.wwinspi4
                    }
                    @if (i == 5)
                    {
                        @Page.wwinspi5
                    }
                </div>
                <div class="popup-buttons centered">
                    <button class="button-primary" id="closeinsp" onclick="closeInspir()" aria-label="Close">Tak for din Inspiration!</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.inspiration').click(function () {
            var i = $(this).attr('data-target');

            $('#' + i).addClass('active');
        });
    });

    function closeInspir() {
        $('.modal-container').removeClass('active');
    }

    function submitBPS() {
        $('#submitbsp').hide();
        $('a#sendingBlock').show();
    }
</script>

@*<section class="startupcentralbackground">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <a href="javascript:void(0);" class="visible-xs wizradbtn">Wizard menu</a>
                <div class="wizardmenumobile fleft w100" style="display:none;">@Umbraco.RenderMacro("BlueNavMenu")</div>
                    <div class="formwrapper shadowlight mt80">
                        <div class="leftnavi bluebg col-md-3 col-xs-12 hidden-xs">
                            @Umbraco.RenderMacro("BlueNavMenu")
                        </div>
                        <div class="rightformother col-md-8 col-xs-12">
                            @Umbraco.RenderMacro("FormTop")
                            <form action="" method="post" class="wizardform" name="introduktion" id="introduktion">
                                @Umbraco.RenderMacro("CurrentFormHeadManchet")
                                <div class="form-group">
                                    <label for="juraftale">Er der en aftale på, hvem der skal investere tid/penge og hvordan ejeforholdet er?</label>
                                    @if (CurrentPage.wwinspi1 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_1">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="juraftale" class="form-control" id="juraftale" placeholder="Skriv..." rows="6">@fc.GetValue("juraftale")</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="jurleverand">Skal leverandører eller andre involveres i projektet - hvis ja, er der en aftale med dem?</label>
                                    @if (CurrentPage.wwinspi2 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_2">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="jurleverand" class="form-control" id="jurleverand" placeholder="Skriv..." rows="6">@fc.GetValue("jurleverand")</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="jurcontact">Er der kontaktet jurister - og hvem?</label>
                                    @if (CurrentPage.wwinspi3 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_3">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="jurcontact" class="form-control" id="jurcontact" placeholder="Skriv..." rows="6">@fc.GetValue("jurcontact")</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="jurcvr">Er der behov for CVR nummer og/eller momsregistrering - hvornår?</label>
                                    @if (CurrentPage.wwinspi4 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_4">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="jurcvr" class="form-control" id="jurcvr" placeholder="Skriv..." rows="6">@fc.GetValue("jurcvr")</textarea>
                                </div>
                                <div class="checkbox mb30">
                                    <label><input type="checkbox" name="andetchk" value="1" id="andetchk" @Umbraco.If(fc.GetValue("andetchk").ToString().ParseBoolean(), "checked") />Har du andet at tilføje<span></span></label>
                                </div>
                                <div class="form-group" style="display: @(fc.GetValue("andetchk").ToString().ParseBoolean() ? "block" : "none")" id="showandet">
                                    <input type="text" name="andetheadline" class="form-control" value="@fc.GetValue("andetheadline")" placeholder="Overskrift" id="andetheadline" />
                                    <textarea name="andet" class="form-control" id="andet" placeholder="Skriv..." rows="6">@fc.GetValue("andet")</textarea>
                                </div>
                                <div class="form-bottom">
                                    <div id="autosave" class"pull-left">Gem kladde</div>
                                    <input type="submit" class="btnlightbg white pull-right" value="Afslut forretningsplanen">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*@for (int i = 1; i <= 5; i++)
    {
        <div class="modal fade" id="inspi_@i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="inspimodalcontent">
                    <button type="button" class="closeinspi" data-dismiss="modal" aria-label="Close"><img src="/images/close.gif"></button>
                    <div class="modal-header">
                        <h4 class="modal-title f25 mb25 fw700 lh26" id="myModalLabel">
                            @if (i == 1)
                            {
                                @Page.wwoverskrift1
                            }
                            @if (i == 2)
                            {
                                @Page.wwoverskrift2
                            }
                            @if (i == 3)
                            {
                                @Page.wwoverskrift3
                            }
                            @if (i == 4)
                            {
                                @Page.wwoverskrift4
                            }
                            @if (i == 5)
                            {
                                @Page.wwoverskrift5
                            }
                        </h4>
                    </div>
                    <div class="f18 lh26 fw400">
                        @if (i == 1)
                        {
                            @Page.wwinspi1
                        }
                        @if (i == 2)
                        {
                            @Page.wwinspi2
                        }
                        @if (i == 3)
                        {
                            @Page.wwinspi3
                        }
                        @if (i == 4)
                        {
                            @Page.wwinspi4
                        }
                        @if (i == 5)
                        {
                            @Page.wwinspi5
                        }
                    </div>
                    <div class="mt40 mb40"><a href="#" class="btn  fw600 light btnlightblue normalbtn col-md-12 f18 lh22" data-dismiss="modal">Tak for inspiration</a></div>
                </div>
            </div>
        </div>
        <div class="popup__overlay popup__overlay--full" style="display:none;"></div>
    }*@