@inherits Umbraco.Web.Mvc.UmbracoViewPage

<section class="nfp-reviews-section">
    <h2 class="nfp-reviews-title">@Umbraco.AssignedContentItem.Value("nfpMemberReviewTitle")</h2>
    <div class="nfp-reviews-section-container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="nfp-review-card-container swiper-slide">
                    <div class="nfp-review-card">
                        <div class="nfp-review-card-content">
                            <div class="nfp-review-card-top">
                                <div class="nfp-review-img">
                                    @*<img src="@Umbraco.Media(34260).Url" alt="Image of member">*@
                                    <p class="nfp-review-initials">EE</p>
                                </div>
                                <div class="nfp-review-name">
                                    <p><b>@Umbraco.AssignedContentItem.Value("nfpMemberReviewName1")</b></p>
                                    <p><i>@Umbraco.AssignedContentItem.Value("nfpMemberReviewDate1")</i></p>
                                </div>
                            </div>
                            <div class="nfp-review-text-container">
                                <div class="nfp-review-star-container">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                </div>
                                <div class="nfp-review-text">@Umbraco.AssignedContentItem.Value("nfpMemberReviewText1")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nfp-review-card-container swiper-slide">
                    <div class="nfp-review-card">
                        <div class="nfp-review-card-content">
                            <div class="nfp-review-card-top">
                                <div class="nfp-review-img">
                                    <p class="nfp-review-initials">KR</p>
                                </div>
                                <div class="nfp-review-name">
                                    <p><b>@Umbraco.AssignedContentItem.Value("nfpMemberReviewName2")</b></p>
                                    <p><i>@Umbraco.AssignedContentItem.Value("nfpMemberReviewDate2")</i></p>
                                </div>
                            </div>
                            <div class="nfp-review-text-container">
                                <div class="nfp-review-star-container">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                </div>
                                <div class="nfp-review-text">@Umbraco.AssignedContentItem.Value("nfpMemberReviewText2")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nfp-review-card-container swiper-slide">
                    <div class="nfp-review-card">
                        <div class="nfp-review-card-content">
                            <div class="nfp-review-card-top">
                                <div class="nfp-review-img">
                                    <p class="nfp-review-initials">PS</p>
                                </div>
                                <div class="nfp-review-name">
                                    <p><b>@Umbraco.AssignedContentItem.Value("nfpMemberReviewName3")</b></p>
                                    <p><i>@Umbraco.AssignedContentItem.Value("nfpMemberReviewDate3")</i></p>
                                </div>
                            </div>
                            <div class="nfp-review-text-container">
                                <div class="nfp-review-star-container">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                </div>
                                <div class="nfp-review-text">@Umbraco.AssignedContentItem.Value("nfpMemberReviewText3")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nfp-review-card-container swiper-slide">
                    <div class="nfp-review-card">
                        <div class="nfp-review-card-content">
                            <div class="nfp-review-card-top">
                                <div class="nfp-review-img">
                                    <p class="nfp-review-initials">M</p>
                                </div>
                                <div class="nfp-review-name">
                                    <p><b>@Umbraco.AssignedContentItem.Value("nfpMemberReviewName4")</b></p>
                                    <p><i>@Umbraco.AssignedContentItem.Value("nfpMemberReviewDate4")</i></p>
                                </div>
                            </div>
                            <div class="nfp-review-text-container">
                                <div class="nfp-review-star-container">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                </div>
                                <div class="nfp-review-text">@Umbraco.AssignedContentItem.Value("nfpMemberReviewText4")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nfp-review-card-container swiper-slide">
                    <div class="nfp-review-card">
                        <div class="nfp-review-card-content">
                            <div class="nfp-review-card-top">
                                <div class="nfp-review-img">
                                    <p class="nfp-review-initials">RE</p>
                                </div>
                                <div class="nfp-review-name">
                                    <p><b>@Umbraco.AssignedContentItem.Value("nfpMemberReviewName5")</b></p>
                                    <p><i>@Umbraco.AssignedContentItem.Value("nfpMemberReviewDate5")</i></p>
                                </div>
                            </div>
                            <div class="nfp-review-text-container">
                                <div class="nfp-review-star-container">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                </div>
                                <div class="nfp-review-text">@Umbraco.AssignedContentItem.Value("nfpMemberReviewText5")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nfp-review-card-container swiper-slide">
                    <div class="nfp-review-card">
                        <div class="nfp-review-card-content">
                            <div class="nfp-review-card-top">
                                <div class="nfp-review-img">
                                    <p class="nfp-review-initials">EA</p>
                                </div>
                                <div class="nfp-review-name">
                                    <p><b>@Umbraco.AssignedContentItem.Value("nfpMemberReviewName6")</b></p>
                                    <p><i>@Umbraco.AssignedContentItem.Value("nfpMemberReviewDate6")</i></p>
                                </div>
                            </div>
                            <div class="nfp-review-text-container">
                                <div class="nfp-review-star-container">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                    <img src="@Umbraco.Media(38338).Url">
                                </div>
                                <div class="nfp-review-text">@Umbraco.AssignedContentItem.Value("nfpMemberReviewText6")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="nfp-review_btn">
    <a href="@Umbraco.Content(25745).Url">@Umbraco.GetDictionaryValue("ReviewsButton", "Læs også vores medlemshistorier")</a>
    </div>*@
</section>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        slidesPerView: 3,
        loop: true,
        autoplay: true,
        
        breakpoints: {
            300: {
                slidesPerView: 1,
                spaceBetween: 10,
            },
            650: {
                slidesPerView: 2,
                spaceBetween: 20,
            },

            1250: {
                slidesPerView: 3,
                spaceBetween: 30,
            },
        }
    });
</script>