@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using Umbraco.Web.Security

@{
Layout = "Master.cshtml";

bool n = true;

var url = HttpContext.Current.Request.RawUrl.Split(new[] { '=' }, StringSplitOptions.RemoveEmptyEntries);

if (url.Length > 1)
{
n = false;
}
  
MembershipHelper membershipHelper = Umbraco.MembershipHelper;
IMember member = ApplicationContext.Current.Services.MemberService.GetByUsername(membershipHelper.CurrentUserName);

<script>
    var userToken = ''
    @if(member != null) {
        @Html.Raw(string.Concat("userToken = '", StartupCentral.Code.Controllers.UserController.IssueTokenIfEmpty(
            member), "';"))
    }
</script>
}

<div id="BusinessPlan" class="sc-logged sc-bgb10">
    <div class="row-container businessplan-container">
        <div class="bp-header">
            <span class="bp-header__subheader">Min Forretningsplan</span>
            <h3 class="bp-header__title"></h3>
        </div>

        <div class="bp-content-wrapper">

            @if (!n)
            {
            <aside class="bp-side-container">
                <button id="dropButton"
                    class="bp__dropButton button button--full-width button--icon button--icon-right">
                    Menu

                    <svg id="ChevronDown" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <path id="Path_86" data-name="Path 86" d="M32,32H0V0H32Z" fill="none" opacity="0.87" />
                        <path id="Path_87" data-name="Path 87"
                            d="M19.034,9.388l-5.173,5.173L8.688,9.388a1.329,1.329,0,1,0-1.88,1.88l6.12,6.12a1.328,1.328,0,0,0,1.88,0l6.12-6.12a1.328,1.328,0,0,0,0-1.88,1.356,1.356,0,0,0-1.893,0Z"
                            transform="translate(2.139 2.999)" fill="#fff" />
                    </svg>
                </button>

                <ul class="bp-categories-list">
                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Introduktionindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks is-active"
                                onclick="openTab(event, 'Introduktion')" id="introduktiontab">Introduktion</a>
                        </div>
                    </li>
                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Idegrundlagindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks" onclick="openTab(event, 'Idegrundlag')"
                                id="idegrundlagtab">Idégrundlag</a>
                        </div>
                    </li>

                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Malsaetningindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks" onclick="openTab(event, 'Malsaetning')"
                                id="malsaetningtab">Målsætning</a>
                        </div>
                    </li>

                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Vaerdierindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks" onclick="openTab(event, 'Vaerdier')"
                                id="vaerdiertab">Værdier</a>
                        </div>
                    </li>

                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Teamindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks" onclick="openTab(event, 'Team')"
                                id="teamtab">Team og ressourcer</a>
                        </div>
                    </li>
                    <li class="bp-categories-list__category ">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Produktbeskrivelseindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks"
                                onclick="openTab(event, 'Produktbeskrivelse')"
                                id="produktbeskrivelsetab">Produktbeskrivelse</a>
                        </div>
                    </li>
                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Markedsanalyseindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks" onclick="openTab(event, 'Markedsanalyse')"
                                id="markedsanalysetab">Markedsanalyse</a>
                        </div>
                    </li>
                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Okonomiindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks" onclick="openTab(event, 'Okonomi')"
                                id="okonomitab">Økonomi</a>
                        </div>
                    </li>
                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Salgsmarkedsforingindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks"
                                onclick="openTab(event, 'Salgsmarkedsforing')"
                                id="salgsmarkedsforingtab">Salgsmarkedsføring</a>
                        </div>
                    </li>
                    <li class="bp-categories-list__category">
                        <div class="bp-category-listitem">
                            <div class="bp-category-listitem__progress-indicator" id="Juridiskindicator">
                            </div>
                            <a class="bp-category-listitem__link tablinks" onclick="openTab(event, 'Juridisk')"
                                id="juridisktab">Juridisk</a>
                        </div>
                    </li>
                </ul>

                <div class="bp-actions-container">
                    <div class="bp-actions">
                        <span id="progressProcents"></span>
                        <button class="bp-actions__button button button--full-width" id="save-draft" value="False"
                            onclick="UpdateorAddData(false,true)">
                            Gem som kladde
                        </button>
                        <button class="bp-actions__button button button--full-width button--cta" id="complete"
                            value="True" onclick="UpdateorAddData(true,false)">
                            Markere som afsluttet
                        </button>
                        <time class="bp-actions__timestamp" id="lastupdateddate">Sidst opdateret: </time>
                    </div>
                </div>

            </aside>
            }

            <div class="bp-main-container">
                @* Introduktion starts *@
                <form class="bp-main tabcontent is-active" id="Introduktion">
                    <div class="bp-main__content">
                        <div class="bp-main__intro">
                            <h2>Introduktion</h2>
                            <p>@Page.introduktionManchet</p>
                        </div>
                        <div class="bp-main__form-container">
                            <label for="projektnavn" class="bp-main__label-name">
                                Navn på din forretningsplan
                            </label>
                            <div class="bp-main__input-container">
                                <input type="text" id="projektnavn" name="projektnavn" maxlength="100"
                                    onChange="checkProgress()" required>
                            </div>
                            <p class="bp-main__input-ps">
                                (Vi har på forhånd indtastet et standard navn for din
                                forretningsplan, men du kan til enhver tid ændre det.)
                            </p>
                        </div>
                        <div class="bp-main__form-container">
                            <label for="kategori" class="bp-main__label-name">
                                Vælg den kategori, som passer på din forretningsidé
                            </label>
                            <div class="bp-main__input-container">
                                <select name="kategori" id="kategori" class="form-control valid"
                                    onChange="checkProgress()">
                                    <option>Vælg</option>
                                    @{
                                        IEnumerable<dynamic> tagList = Umbraco.Content(1651).Children();
                                        
                                        foreach (var opt in tagList.OrderBy(x => x.Name))
                                        {
                                            <option value="@opt.Name">@opt.Name</option>
                                        }
                                    }
                                    
                                    
                                </select>
                            </div>
                        </div>
                        <div class="bp-main__form-container">
                            <label class="checkbox">
                                <span>I'm writing this in english</span>
                                <input type="checkbox" id="eng" name="eng" class="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bp-main__form-container">
                            <label for="idedesc" class="bp-main__label-name">
                                Beskriv med få ord din idé
                                <span>
                                    (Maks. <span id="charNum">200</span> tegn)
                                </span>
                            </label>
                            <textarea class="count" name="idedesc" id="idedesc" rows="6" maxlength="200"
                                placeholder="Skriv..." onChange="checkProgress()"></textarea>
                        </div>

                    </div>

                    @if (n)
                    {
                    <div class="bp-main__actions">
                        <input type="button" class="button button--cta" name="uploadbudget"
                            value="Start med at lave din forretningsplan" onclick="UpdateorAddData(false,false)" />
                    </div>
                    }
                    else
                    {
                    <div class="bp-main__actions">
                        <button type="button" class="button" style="display:none;">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('idegrundlagtab').click()">
                            Videre
                        </button>
                    </div>
                    }
                </form>
                @* Introduktion ends *@

                @if (!n)
                {
                @* Idegrundlag starts *@
                <form class="bp-main tabcontent" id="Idegrundlag">
                    <div class="bp-main__content">
                        <h2>Idégrundlag</h2>
                        <p>@Page.idegrundlagManchet</p>
                        <div class="bp-main__form-container">
                            <label for="uddyb" class="bp-main__label-name">
                                Uddyb idéen og giv læseren fuld adgang til at se hvordan idéen opstod
                            </label>
                            @if (Page.idegrundlagInspirationSpm1 != null &&
                            !String.IsNullOrEmpty(Page.idegrundlagInspirationSpm1.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.idegrundlagInspirationSpm1
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="uddyb" id="uddyb" placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>
                        <div class="bp-main__form-container">
                            <label for="loser" class="bp-main__label-name">
                                Løser din idé et problem, som endnu ikke bliver løst?
                            </label>
                            @if (Page.idegrundlagInspirationSpm2 != null &&
                            !String.IsNullOrEmpty(Page.idegrundlagInspirationSpm2.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.idegrundlagInspirationSpm2
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="loser" id="loser" placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>
                        <div class="bp-main__form-container">
                            <label for="videreudvik" class="bp-main__label-name">
                                Er din idé en videreudvikling af noget eksisterende?
                            </label>
                            @if (Page.idegrundlagInspirationSpm3 != null &&
                            !String.IsNullOrEmpty(Page.idegrundlagInspirationSpm3.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.idegrundlagInspirationSpm3
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="videreudvik" id="videreudvik" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>
                        <div class="bp-main__form-container">
                            <label for="brugprod" class="bp-main__label-name">
                                Fortæl hvor din idé kan bruges.
                            </label>
                            @if (Page.idegrundlagInspirationSpm4 != null &&
                            !String.IsNullOrEmpty(Page.idegrundlagInspirationSpm4.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.idegrundlagInspirationSpm4
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="brugprod" id="brugprod" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('introduktiontab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('malsaetningtab').click()">
                            Videre
                        </button>
                    </div>
                </form>
                @* Idegrundlag ends *@

                @* Målsætning starts *@
                <form class="bp-main tabcontent" id="Malsaetning">
                    <div class="bp-main__content">
                        <h2>Målsætning</h2>
                        <p>@Page.maalsaetningManchet</p>
                        <div class="bp-main__form-container">
                            <label for="splitaktiviteter" class="bp-main__label-name">
                                Dine aktiviteter det første år

                                <div class="bp-main__label-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <g id="FAQ" transform="translate(14)">
                                            <path id="Path_47" data-name="Path 47" d="M0,0H24V24H0Z"
                                                transform="translate(-14)" fill="none" />
                                            <path id="ExclamationMark"
                                                d="M12,2a10,10,0,0,0,0,20,10.166,10.166,0,0,0,6.194-2.151A9.842,9.842,0,0,0,22,12,10,10,0,0,0,12,2Zm0,12.954a1,1,0,0,1-1-1V6.032a1,1,0,1,1,2,0v7.922A1,1,0,0,1,12,14.954Zm1,4.039H11v-2h2Z"
                                                transform="translate(-14)" fill="#182848" />
                                        </g>
                                    </svg>
                                    <span class="bp-main__label-warning-text">
                                        Især vigtigt når du ansøger om erhvervskonto.
                                    </span>
                                </div>
                            </label>
                            
                            @if (Page.maalsaetningInspirationSpm1 != null && !String.IsNullOrEmpty(Page.maalsaetningInspirationSpm1.ToString()))
                            {
                                <div class="bp-main__inspo-text">
                                    @Page.maalsaetningInspirationSpm1
                                </div>
                            }
                            
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()" 
                                    name="splitaktiviteter" id="splitaktiviteter" placeholder="Skriv..." rows="6" 
                                    maxlength="5000"></textarea> 
                                
                            <label for="splitaktiviteter" class="bp-main__label-name">
                                Dine aktiviteter det tredje år
                            </label>

                            @if (Page.maalsaetningInspirationSpm2 != null && !String.IsNullOrEmpty(Page.maalsaetningInspirationSpm2.ToString()))
                            {
                                <div class="bp-main__inspo-text">
                                    @Page.maalsaetningInspirationSpm2
                                </div>
                            }

                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                      name="splitaktiviteter" id="splitaktiviteter3ar" placeholder="Skriv..." rows="6"
                                      maxlength="5000"></textarea>

                            <label for="splitaktiviteter" class="bp-main__label-name">
                                Dine aktiviteter det femte år
                            </label>

                            @if (Page.maalsaetningInspirationSpm3 != null && !String.IsNullOrEmpty(Page.maalsaetningInspirationSpm3.ToString()))
                            {
                                <div class="bp-main__inspo-text">
                                    @Page.maalsaetningInspirationSpm3
                                </div>
                            }

                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                      name="splitaktiviteter" id="splitaktiviteter5ar" placeholder="Skriv..." rows="6"
                                      maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('idegrundlagtab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('vaerdiertab').click()">
                            Videre
                        </button>
                    </div>
                </form>
                @* Målsætning ends *@

                @* Værdier starts *@
                <form class="bp-main tabcontent" id="Vaerdier">
                    <div class="bp-main__content">
                        <h2>Værdier</h2>
                        <p>@Page.vaerdierManchet</p>
                        <div class="bp-main__form-container">
                            <label for="firmimportant" class="bp-main__label-name">
                                Beskriv hvorfor virksomheden er vigtig
                            </label>
                            @if (Page.vaerdierInspirationSpm1 != null &&
                            !String.IsNullOrEmpty(Page.vaerdierInspirationSpm1.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.vaerdierInspirationSpm1
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmimportant" id="firmimportant" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="firmbehov" class="bp-main__label-name">
                                Hvilke behov opfylder virksomheden og for hvilke kunder
                            </label>
                            @if (Page.vaerdierInspirationSpm2 != null &&
                            !String.IsNullOrEmpty(Page.vaerdierInspirationSpm2.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.vaerdierInspirationSpm2
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmbehov" id="firmbehov" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container" style="display:none" id="firmreachdiv">
                            <label for="firmreach" class="bp-main__label-name">
                                Hvad vil du opnå om 1 md., 1 år og 3 år.
                            </label>
                            @if (Page.vaerdierInspirationSpm3 != null &&
                            !String.IsNullOrEmpty(Page.vaerdierInspirationSpm3.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.vaerdierInspirationSpm3
                            </div>
                            }
                            <textarea class="bp-main__text-input-container" name="firmreach" id="firmreach"
                                placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="firmissues" class="bp-main__label-name">
                                Hvad er de største problemer, og hvordan vil du løse dem?
                            </label>
                            @if (Page.vaerdierInspirationSpm4 != null &&
                            !String.IsNullOrEmpty(Page.vaerdierInspirationSpm4.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.vaerdierInspirationSpm4
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmissues" id="firmissues" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="firmvalues" class="bp-main__label-name">
                                Hvordan er dine værdier?
                            </label>
                            @if (Page.vaerdierInspirationSpm5 != null &&
                            !String.IsNullOrEmpty(Page.vaerdierInspirationSpm5.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.vaerdierInspirationSpm5
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmvalues" id="firmvalues" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>
                        
                        <div class="bp-main__form-container">
                            <label for="firmvinkel" class="bp-main__label-name">
                                Har du en bæredygtig vinkel, i så fald hvilken?
                            </label>

                            @if (Page.vaerdierInspirationSpm6 != null && !String.IsNullOrEmpty(Page.vaerdierInspirationSpm6.ToString()))
                            {
                                <div class="bp-main__inspo-text">
                                    @Page.vaerdierInspirationSpm6
                                </div>
                            }

                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                      name="firmvinkel" id="firmvinkel" placeholder="Skriv..." rows="6"
                                      maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('malsaetningtab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('teamtab').click()">
                            Videre
                        </button>
                    </div>
                </form>
                @* Værdier ends *@

                @* Team og Ressourcer starts *@
                <form class="bp-main tabcontent" id="Team">
                    <div class="bp-main__content">
                        <h2>Team og ressourcer</h2>
                        <p>@Page.teamOgRessourcerManchet</p>
                        <div class="bp-main__form-container">
                            <label for="firmroller" class="bp-main__label-name">
                                Hvem er med i projektet og hvilke roller har de?
                            </label>
                            @if (Page.teamOgRessourcerInspirationSpm1 != null &&
                            !String.IsNullOrEmpty(Page.teamOgRessourcerInspirationSpm1.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.teamOgRessourcerInspirationSpm1
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmroller" id="firmroller" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="firmokonomi" class="bp-main__label-name">
                                Hvem tager ansvaret for økonomi, salg/markedsføring og produktudvikling?
                            </label>
                            @if (Page.teamOgRessourcerInspirationSpm2 != null &&
                            !String.IsNullOrEmpty(Page.teamOgRessourcerInspirationSpm2.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.teamOgRessourcerInspirationSpm2
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmokonomi" id="firmokonomi" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="firmres" class="bp-main__label-name">
                                Er der behov for eksterne ressourcer?
                            </label>
                            @if (Page.teamOgRessourcerInspirationSpm3 != null &&
                            !String.IsNullOrEmpty(Page.teamOgRessourcerInspirationSpm3.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.teamOgRessourcerInspirationSpm3
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmres" id="firmres" placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>
                        
                        <div class="bp-main__form-container">
                            <label for="firmres2" class="bp-main__label-name">
                                Hvilke leverandører har din virksomhed?

                                <div class="bp-main__label-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <g id="FAQ" transform="translate(14)">
                                            <path id="Path_47" data-name="Path 47" d="M0,0H24V24H0Z"
                                                  transform="translate(-14)" fill="none" />
                                            <path id="ExclamationMark"
                                                  d="M12,2a10,10,0,0,0,0,20,10.166,10.166,0,0,0,6.194-2.151A9.842,9.842,0,0,0,22,12,10,10,0,0,0,12,2Zm0,12.954a1,1,0,0,1-1-1V6.032a1,1,0,1,1,2,0v7.922A1,1,0,0,1,12,14.954Zm1,4.039H11v-2h2Z"
                                                  transform="translate(-14)" fill="#182848" />
                                        </g>
                                    </svg>
                                    <span class="bp-main__label-warning-text">
                                        Især vigtigt når du ansøger om erhvervskonto.
                                    </span>
                                </div>
                            </label>

                            @if (Page.teamOgRessourcerInspirationSpm4 != null && !String.IsNullOrEmpty(Page.teamOgRessourcerInspirationSpm4.ToString()))
                            {
                                <div class="bp-main__inspo-text">
                                    @Page.teamOgRessourcerInspirationSpm4
                                </div>
                            }

                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                      name="firmres2" id="firmres2" placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="firmdriv" class="bp-main__label-name">
                                Hvem er den drivende person og hvem træffer beslutninger?
                            </label>
                            @if (Page.teamOgRessourcerInspirationSpm5 != null &&
                            !String.IsNullOrEmpty(Page.teamOgRessourcerInspirationSpm5.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.teamOgRessourcerInspirationSpm5
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmdriv" id="firmdriv" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="firmvwork" class="bp-main__label-name">
                                Hvor mange timer/dage/måneder kan teamet arbejde for projektet?
                            </label>
                            @if (Page.teamOgRessourcerInspirationSpm6 != null &&
                            !String.IsNullOrEmpty(Page.teamOgRessourcerInspirationSpm6.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.teamOgRessourcerInspirationSpm6
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="firmvwork" id="firmvwork" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('vaerdiertab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('produktbeskrivelsetab').click()">
                            Videre
                        </button>
                    </div>
                </form>
                @* Team og Ressourcer ends *@

                @* Produktbeskrivelse start *@
                <form class="bp-main tabcontent" id="Produktbeskrivelse">
                    <div class="bp-main__content">
                        <h2>Produktbeskrivelse</h2>
                        <p>@Page.produktbeskrivelseManchet</p>
                        <div class="bp-main__form-container">
                            <label for="proddesc" class="bp-main__label-name">
                                Giv en beskrivelse af produktet - hvad kan det?

                                <div class="bp-main__label-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <g id="FAQ" transform="translate(14)">
                                            <path id="Path_47" data-name="Path 47" d="M0,0H24V24H0Z"
                                                transform="translate(-14)" fill="none" />
                                            <path id="ExclamationMark"
                                                d="M12,2a10,10,0,0,0,0,20,10.166,10.166,0,0,0,6.194-2.151A9.842,9.842,0,0,0,22,12,10,10,0,0,0,12,2Zm0,12.954a1,1,0,0,1-1-1V6.032a1,1,0,1,1,2,0v7.922A1,1,0,0,1,12,14.954Zm1,4.039H11v-2h2Z"
                                                transform="translate(-14)" fill="#182848" />
                                        </g>
                                    </svg>
                                    <span class="bp-main__label-warning-text">
                                        Især vigtigt når du ansøger om erhvervskonto.
                                    </span>
                                </div>
                            </label>
                            @if (Page.produktbeskrivelseInspirationSpm1 != null &&
                            !String.IsNullOrEmpty(Page.produktbeskrivelseInspirationSpm1.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.produktbeskrivelseInspirationSpm1
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="proddesc" id="proddesc" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodvers" class="bp-main__label-name">
                                Er der forskellige versioner?
                            </label>
                            @if (Page.produktbeskrivelseInspirationSpm2 != null &&
                            !String.IsNullOrEmpty(Page.produktbeskrivelseInspirationSpm2.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.produktbeskrivelseInspirationSpm2
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodvers" id="prodvers" placeholder="Skriv" rows="6" maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodfunkt" class="bp-main__label-name">
                                Hvordan fungerer det?
                            </label>
                            @if (Page.produktbeskrivelseInspirationSpm3 != null &&
                            !String.IsNullOrEmpty(Page.produktbeskrivelseInspirationSpm3.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.produktbeskrivelseInspirationSpm3
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodfunkt" id="prodfunkt" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodmake" class="bp-main__label-name">
                                Hvordan skal det laves og kræves der obligatoriske godkendelser?
                            </label>
                            @if (Page.produktbeskrivelseInspirationSpm4 != null &&
                            !String.IsNullOrEmpty(Page.produktbeskrivelseInspirationSpm4.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.produktbeskrivelseInspirationSpm4
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodmake" id="prodmake" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodready" class="bp-main__label-name">
                                Hvad mangler, før produktet er klart til salg?
                            </label>
                            @if (Page.produktbeskrivelseInspirationSpm5 != null &&
                            !String.IsNullOrEmpty(Page.produktbeskrivelseInspirationSpm5.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.produktbeskrivelseInspirationSpm5
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodready" id="prodready" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('teamtab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('markedsanalysetab').click()">
                            Videre
                        </button>
                    </div>
                </form>
                @* Produktbeskrivelse end *@

                @* Markedsanalyse start *@
                <form class="bp-main tabcontent" id="Markedsanalyse">
                    <div class="bp-main__content">
                        <h2>Markedsanalyse</h2>
                        <p>@Page.markedsanalyseManchet</p>
                        <div class="bp-main__form-container">
                            <label for="cuswho" class="bp-main__label-name">
                                Hvem er kunderne?

                                <div class="bp-main__label-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <g id="FAQ" transform="translate(14)">
                                            <path id="Path_47" data-name="Path 47" d="M0,0H24V24H0Z"
                                                transform="translate(-14)" fill="none" />
                                            <path id="ExclamationMark"
                                                d="M12,2a10,10,0,0,0,0,20,10.166,10.166,0,0,0,6.194-2.151A9.842,9.842,0,0,0,22,12,10,10,0,0,0,12,2Zm0,12.954a1,1,0,0,1-1-1V6.032a1,1,0,1,1,2,0v7.922A1,1,0,0,1,12,14.954Zm1,4.039H11v-2h2Z"
                                                transform="translate(-14)" fill="#182848" />
                                        </g>
                                    </svg>
                                    <span class="bp-main__label-warning-text">
                                        Især vigtigt når du ansøger om erhvervskonto.
                                    </span>
                                </div>
                            </label>
                            @if (Page.markedsanalyseInspirationSpm1 != null &&
                            !String.IsNullOrEmpty(Page.markedsanalyseInspirationSpm1.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.markedsanalyseInspirationSpm1
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="cuswho" id="cuswho" placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="cusfind" class="bp-main__label-name">
                                Hvor mange kunder findes der?
                            </label>
                            @if (Page.markedsanalyseInspirationSpm2 != null &&
                            !String.IsNullOrEmpty(Page.markedsanalyseInspirationSpm2.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.markedsanalyseInspirationSpm2
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="cusfind" id="cusfind" placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="cusneeds" class="bp-main__label-name">
                                Hvordan opfyldes kundens behov nu?
                            </label>
                            @if (Page.markedsanalyseInspirationSpm3 != null &&
                            !String.IsNullOrEmpty(Page.markedsanalyseInspirationSpm3.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.markedsanalyseInspirationSpm3
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="cusneeds" id="cusneeds" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="cuskon" class="bp-main__label-name">
                                Hvilke konkurrenter er der, og hvordan adskiller dit produkt sig?
                            </label>
                            @if (Page.markedsanalyseInspirationSpm4 != null &&
                            !String.IsNullOrEmpty(Page.markedsanalyseInspirationSpm4.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.markedsanalyseInspirationSpm4
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="cuskon" id="cuskon" placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="cusstrong" class="bp-main__label-name">
                                Hvad er konkurrentens stærke og svage sider?
                            </label>
                            @if (Page.markedsanalyseInspirationSpm5 != null &&
                            !String.IsNullOrEmpty(Page.markedsanalyseInspirationSpm5.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.markedsanalyseInspirationSpm5
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="cusstrong" id="cusstrong" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('produktbeskrivelsetab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('okonomitab').click()">
                            Videre
                        </button>
                    </div>
                </form>
                @* Markedsanalyse end *@

                @* Økonomi start *@
                <form class="bp-main tabcontent" id="Okonomi" enctype="multipart/form-data">
                    <div class="bp-main__content">
                        <h2>Økonomi</h2>
                        <p>@Page.okonomiManchet</p>
                        <div class="bp-main__form-container">
                            <label for="prodsale" class="bp-main__label-name">
                                Hvilke større udgifter skal der afholdes før produktet er klar til salg?
                            </label>
                            @if (Page.okonomiInspirationSpm1 != null &&
                            !String.IsNullOrEmpty(Page.okonomiInspirationSpm1.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.okonomiInspirationSpm1
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodsale" id="prodsale" placeholder="Skriv" rows="6" maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodstart" class="bp-main__label-name">
                                Kan virksomheden starte op i de små - hvordan?
                            </label>
                            @if (Page.okonomiInspirationSpm2 != null &&
                            !String.IsNullOrEmpty(Page.okonomiInspirationSpm2.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.okonomiInspirationSpm2
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodstart" id="prodstart" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label class="checkbox">
                                <span>
                                    Er der lavet et budget?
                                </span>
                                @if (Page.okonomiInspirationSpm3 != null &&
                                !String.IsNullOrEmpty(Page.okonomiInspirationSpm3.ToString()))
                                {
                                <div class="bp-main__label-inspo">
                                    <svg id="FAQ" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24">
                                        <path id="Path_47" data-name="Path 47" d="M0,0H24V24H0Z" fill="none" />
                                        <path id="Path_48" data-name="Path 48"
                                            d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,17H11V17h2Zm2.07-7.75-.9.92a3.5,3.5,0,0,0-1.04,1.69A4.587,4.587,0,0,0,13,15H11v-.5a4.046,4.046,0,0,1,.22-1.31,4,4,0,0,1,.95-1.52l1.24-1.26a1.963,1.963,0,0,0,.55-1.8,1.991,1.991,0,0,0-1.39-1.53A2.016,2.016,0,0,0,10.1,8.35.883.883,0,0,1,9.28,9h-.3a.866.866,0,0,1-.82-1.12,4.008,4.008,0,0,1,3.23-2.83,4.068,4.068,0,0,1,3.87,1.8A3.307,3.307,0,0,1,15.07,11.25Z"
                                            transform="translate(0 0)" fill="#182848" />
                                    </svg>
                                    <span class="bp-main__label-inspo-text">
                                        @Page.okonomiInspirationSpm3
                                    </span>
                                </div>
                                }
                                <input type="checkbox" id="showbudget" name="yestobudget" class="checkbox"
                                    value="budget">
                                <span class="checkmark"></span>
                                <div class="filename" id="filename" style="display:none;"></div>
                            </label>
                        </div>

                        <div id="budget" class="bp-main__form-container" style="display:none;">
                            <label for="budget" class="bp-main__label-name">
                                <span>Upload dit budget. Hvis du ikke har
                                    lavet et budget endnu, læs mere
                                    om det <a class="link" target="_blank" href="/budgetter/">her</a>
                                </span>
                                <span>
                                    Du kan kun uploade excel-filer (.xls, .xlsx) eller Numbers (.numbers)
                                </span>
                            </label>
                            <input type="file" class="uploadBtn" name="budgetfile" id="budgetfile"
                                accept=".xls,.xlsx,.numbers">
                            <label for="uploadbudget" id="uploadbudgetresult" style="display:none;"></label>
                            <input type="button" class="button" name="uploadbudget" id="uploadbudget"
                                onclick="uploadAttachment()" value="Add attachment" style="display:none;" />
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodfinance" class="bp-main__label-name">
                                Hvornår i de næste 12 måneder er der udgifter og indtægter?
                            </label>
                            @if (Page.okonomiInspirationSpm4 != null &&
                            !String.IsNullOrEmpty(Page.okonomiInspirationSpm4.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.okonomiInspirationSpm4
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodfinance" id="prodfinance" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('markedsanalysetab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('salgsmarkedsforingtab').click()">
                            Videre
                        </button>
                    </div>
                </form>
                @* Økonomi end *@

                @* Salgsmarkedsføring start *@
                <form class="bp-main tabcontent" id="Salgsmarkedsforing">
                    <div class="bp-main__content">
                        <h2>Salgsmarkedsføring</h2>
                        <p>@Page.salgsmarkedsfoeringManchet</p>
                        <div class="bp-main__form-container">
                            <label for="prodprice" class="bp-main__label-name">
                                Beskriv priserne for produktet
                            </label>
                            @if (Page.salgsmarkedsfoeringInspirationSpm1 != null &&
                            !String.IsNullOrEmpty(Page.salgsmarkedsfoeringInspirationSpm1.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.salgsmarkedsfoeringInspirationSpm1
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodprice" id="prodprice" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="produdregn" class="bp-main__label-name">
                                Hvordan er priserne udregnet og hvad er overskudsgraden?
                            </label>
                            @if (Page.salgsmarkedsfoeringInspirationSpm2 != null &&
                            !String.IsNullOrEmpty(Page.salgsmarkedsfoeringInspirationSpm2.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.salgsmarkedsfoeringInspirationSpm2
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="produdregn" id="produdregn" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodsaleplace" class="bp-main__label-name">
                                Hvordan skal salget foregå - og hvem skal stå for det?

                                <div class="bp-main__label-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <g id="FAQ" transform="translate(14)">
                                            <path id="Path_47" data-name="Path 47" d="M0,0H24V24H0Z"
                                                transform="translate(-14)" fill="none" />
                                            <path id="ExclamationMark"
                                                d="M12,2a10,10,0,0,0,0,20,10.166,10.166,0,0,0,6.194-2.151A9.842,9.842,0,0,0,22,12,10,10,0,0,0,12,2Zm0,12.954a1,1,0,0,1-1-1V6.032a1,1,0,1,1,2,0v7.922A1,1,0,0,1,12,14.954Zm1,4.039H11v-2h2Z"
                                                transform="translate(-14)" fill="#182848" />
                                        </g>
                                    </svg>
                                    <span class="bp-main__label-warning-text">
                                        Især vigtigt når du ansøger om erhvervskonto.
                                    </span>
                                </div>
                            </label>
                            @if (Page.salgsmarkedsfoeringInspirationSpm3 != null &&
                            !String.IsNullOrEmpty(Page.salgsmarkedsfoeringInspirationSpm3.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.salgsmarkedsfoeringInspirationSpm3
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodsaleplace" id="prodsaleplace" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodeksi" class="bp-main__label-name">
                                Hvordan skal kunderne finde ud af at produktet eksisterer?
                            </label>
                            @if (Page.salgsmarkedsfoeringInspirationSpm4 != null &&
                            !String.IsNullOrEmpty(Page.salgsmarkedsfoeringInspirationSpm4.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.salgsmarkedsfoeringInspirationSpm4
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodeksi" id="prodeksi" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="prodmarkedsf" class="bp-main__label-name">
                                Hvilke udgifter er der til markedsføring, og hvordan skal det foregå?
                            </label>
                            @if (Page.salgsmarkedsfoeringInspirationSpm5 != null &&
                            !String.IsNullOrEmpty(Page.salgsmarkedsfoeringInspirationSpm5.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.salgsmarkedsfoeringInspirationSpm5
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="prodmarkedsf" id="prodmarkedsf" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('okonomitab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Videre"
                            onclick="document.getElementById('juridisktab').click()">
                            Videre
                        </button>
                    </div>
                </form>
                @* Salgsmarkedsføring end *@

                @* Juridisk starts *@
                <form class="bp-main tabcontent" id="Juridisk">
                    <div class="bp-main__content">
                        <h2>Juridisk</h2>
                        <p>@Page.juridiskManchet</p>
                        <div class="bp-main__form-container">
                            <label for="juraftale" class="bp-main__label-name">
                                Er der en aftale på, hvem der skal investere tid/penge og hvordan ejeforholdet er?
                            </label>
                            @if (Page.juridiskInspirationSpm1 != null &&
                            !String.IsNullOrEmpty(Page.idegrundlagInspirationSpm4.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.juridiskInspirationSpm1
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="juraftale" id="juraftale" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="jurleverand" class="bp-main__label-name">
                                Skal leverandører eller andre involveres i projektet - hvis ja, er der en aftale med
                                dem?
                            </label>
                            @if (Page.juridiskInspirationSpm2 != null &&
                            !String.IsNullOrEmpty(Page.juridiskInspirationSpm2.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.juridiskInspirationSpm2
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="jurleverand" id="jurleverand" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="jurcontact" class="bp-main__label-name">
                                Er der kontaktet jurister - og hvem?
                            </label>
                            @if (Page.juridiskInspirationSpm3 != null &&
                            !String.IsNullOrEmpty(Page.juridiskInspirationSpm3.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.juridiskInspirationSpm3
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="jurcontact" id="jurcontact" placeholder="Skriv..." rows="6"
                                maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label for="jurcvr" class="bp-main__label-name">
                                Er der behov for CVR nummer og/eller momsregistrering - hvornår?
                            </label>
                            @if (Page.juridiskInspirationSpm4 != null &&
                            !String.IsNullOrEmpty(Page.juridiskInspirationSpm4.ToString()))
                            {
                            <div class="bp-main__inspo-text">
                                @Page.juridiskInspirationSpm4
                            </div>
                            }
                            <textarea class="bp-main__text-input-container count" onChange="checkProgress()"
                                name="jurcvr" id="jurcvr" placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>

                        <div class="bp-main__form-container">
                            <label class="checkbox">
                                <span>Har du andet at tilføje?</span>
                                <input type="checkbox" id="andetchk" value="1" name="andetchk" class="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="bp-main__form-container" value="0" style="display:none" id="showandet">
                            <div class="bp-main__input-container">
                                <input type="text" id="andetheadline" placeholder="Overskrift">
                            </div>
                            <label for="jurcvr" class="bp-main__label-name">
                                Skriv her hvad du har af tilføjelser 
                            </label>
                            <textarea class="bp-main__text-input-container" name="andet" id="andet"
                                placeholder="Skriv..." rows="6" maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="bp-main__actions">
                        <button type="button" class="button" value="Forrige"
                            onclick="document.getElementById('salgsmarkedsforingtab').click()">
                            Forrige
                        </button>

                        <button type="button" class="button" value="Forrige" style="display:none;">
                            Forrige
                        </button>
                    </div>
                </form>
                @* Juridisk end *@
                }

            </div>

        </div>
    </div>

</div>

<style>
    #main-footer {
        display: none;
    }
</style>

<script>
    var acc = document.getElementsByClassName("bp__dropButton");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("open");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>

<script src="~/scripts/jQuery.datalink.js"></script>
<script src="~/scripts/startupcental.js"></script>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script type="text/javascript">
    var text_max = 200;
    $('#charNum').html(text_max + '');

    var d = new Date();
    var x = "";

    var bsp = {
        ProjektNavn: 'Din forretningsplan ' + d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear(),
        Kategori: 'Vælg',
        English: false,
        IdeDesc: 'Skriv...'
    };

    $(document).ready(Bind());

    function Bind() {
        $(bsp)
            .linkBoth("ProjektNavn", "#projektnavn", "val")
            .linkBoth("Kategori", "#kategori", "val")
            .linkBoth("IdeDesc", "#idedesc", "val")

            .linkBoth("Uddyb", "#uddyb", "val")
            .linkBoth("Loser", "#loser", "val")
            .linkBoth("Videreudvik", "#videreudvik", "val")
            .linkBoth("Brugprod", "#brugprod", "val")

            .linkBoth("Splitaktiviteter", "#splitaktiviteter", "val")
            .linkBoth("Splitaktiviteter3ar", "#splitaktiviteter3ar", "val")
            .linkBoth("Splitaktiviteter5ar", "#splitaktiviteter5ar", "val")
            
            .linkBoth("FirmImportant", "#firmimportant", "val")
            .linkBoth("FirmBehov", "#firmbehov", "val")
            .linkBoth("FirmReach", "#firmreach", "val")
            .linkBoth("FirmIssues", "#firmissues", "val")
            .linkBoth("FirmValues", "#firmvalues", "val")
            .linkBoth("Firmvinkel", "#firmvinkel", "val")

            .linkBoth("FirmRoller", "#firmroller", "val")
            .linkBoth("FirmOkonomi", "#firmokonomi", "val")
            .linkBoth("FirmRes", "#firmres", "val")
            .linkBoth("Firmres2", "#firmres2", "val")
            .linkBoth("FirmDriv", "#firmdriv", "val")
            .linkBoth("FirmVwork", "#firmvwork", "val")

            .linkBoth("ProdDesc", "#proddesc", "val")
            .linkBoth("ProdVers", "#prodvers", "val")
            .linkBoth("ProdFunkt", "#prodfunkt", "val")
            .linkBoth("ProdMake", "#prodmake", "val")
            .linkBoth("ProdReady", "#prodready", "val")

            .linkBoth("CusWho", "#cuswho", "val")
            .linkBoth("CusFind", "#cusfind", "val")
            .linkBoth("CusNeeds", "#cusneeds", "val")
            .linkBoth("CusKon", "#cuskon", "val")
            .linkBoth("CusStrong", "#cusstrong", "val")

            .linkBoth("ProdSale", "#prodsale", "val")
            .linkBoth("ProdStart", "#prodstart", "val")
            .linkBoth("ProdFinance", "#prodfinance", "val")

            .linkBoth("ProdPrice", "#prodprice", "val")
            .linkBoth("ProdUdregn", "#produdregn", "val")
            .linkBoth("ProdSaleplace", "#prodsaleplace", "val")
            .linkBoth("ProdEksi", "#prodeksi", "val")
            .linkBoth("ProdMarkedsf", "#prodmarkedsf", "val")

            .linkBoth("JurAftale", "#juraftale", "val")
            .linkBoth("JurLeverand", "#jurleverand", "val")
            .linkBoth("JurContact", "#jurcontact", "val")
            .linkBoth("JurCvr", "#jurcvr", "val")

            .linkBoth("AndetHeadline", "#andetheadline", "val")
            .linkBoth("Andet", "#andet", "val");

        if ($(location).attr('search')) {
            x = $(location).attr('search');
            x = x.substr(4, 36);

            PreLoad(x);
        }
    }

    function PreLoad(x) {
        startupCentral.requestData('/umbraco/api/forretningsplanApi/getBusinessPlanById?sBusId=' + x,
            function (response) {
                $(bsp).attr(response.Data);

                $('#idedesc').keyup();

                if (bsp.English) {
                    $("#eng").prop("checked", true);
                }
                if (bsp.FirmReach) {
                    $('#firmreachdiv').css('display', 'block');
                }
                if (bsp.BudgetFile) {
                    $("#showbudget").prop("checked", true);
                    $('#filename').text(bsp.BudgetFile);
                    $('#filename').css('display', 'block');
                }
                if (bsp.AndetChk) {
                    $("#andetchk").prop("checked", true);
                    $('#showandet').css('display', 'block');
                }

                var uptime = document.getElementById("lastupdateddate");
                var date = document.createTextNode(bsp.UpdateDate);
                uptime.appendChild(date);

                window.setInterval(function () {
                    UpdateorAddData(bsp.Completed, true);
                }, (1000 * 60 * 2));

                checkProgress();
            });
    }

    function UpdateorAddData(y, autosave) {

        if (bsp.AndetChk == false) {
            bsp.AndetHeadline = null;
            bsp.Andet = null;
        }

        startupCentral.postRequestData('/umbraco/api/ForretningsplanApi/CreateOrUpdateBusinessPlan', {
                Id: bsp.Id,
                CreateDate: bsp.CreateDate,
                ProjektNavn: bsp.ProjektNavn,
                Kategori: bsp.Kategori,
                English: bsp.English,
                IdeDesc: bsp.IdeDesc,
                Uddyb: bsp.Uddyb,
                Loser: bsp.Loser,
                Videreudvik: bsp.Videreudvik,
                Brugprod: bsp.Brugprod,
                Splitaktiviteter: bsp.Splitaktiviteter,
                Splitaktiviteter3ar: bsp.Splitaktiviteter3ar,
                Splitaktiviteter5ar: bsp.Splitaktiviteter5ar,
                FirmImportant: bsp.FirmImportant,
                FirmBehov: bsp.FirmBehov,
                FirmReach: bsp.FirmReach,
                FirmIssues: bsp.FirmIssues,
                FirmValues: bsp.FirmValues,
                Firmvinkel: bsp.Firmvinkel,
                FirmRoller: bsp.FirmRoller,
                FirmOkonomi: bsp.FirmOkonomi,
                FirmRes: bsp.FirmRes,
                Firmres2: bsp.Firmres2,
                FirmDriv: bsp.FirmDriv,
                FirmVwork: bsp.FirmVwork,
                ProdDesc: bsp.ProdDesc,
                ProdVers: bsp.ProdVers,
                ProdFunkt: bsp.ProdFunkt,
                ProdMake: bsp.ProdMake,
                ProdReady: bsp.ProdReady,
                CusWho: bsp.CusWho,
                CusFind: bsp.CusFind,
                CusNeeds: bsp.CusNeeds,
                CusKon: bsp.CusKon,
                CusStrong: bsp.CusStrong,
                ProdSale: bsp.ProdSale,
                ProdStart: bsp.ProdStart,
                BudgetFile: bsp.BudgetFile,
                ProdFinance: bsp.ProdFinance,
                ProdPrice: bsp.ProdPrice,
                ProdUdregn: bsp.ProdUdregn,
                ProdSaleplace: bsp.ProdSaleplace,
                ProdEksi: bsp.ProdEksi,
                ProdMarkedsf: bsp.ProdMarkedsf,
                JurAftale: bsp.JurAftale,
                JurLeverand: bsp.JurLeverand,
                JurContact: bsp.JurContact,
                JurCvr: bsp.JurCvr,
                AndetChk: bsp.AndetChk,
                AndetHeadline: bsp.AndetHeadline,
                Andet: bsp.Andet,
                Completed: y
            },
            function (data) {
                if (data) {
                    if (data.Success && x === "" && y == false && autosave == false) //create
                    {
                        window.location.href = '/login/min-forretningsplan/?id=' + data.Data;
                    } else if (data.Success && x != "") //no refresh + completed
                    {
                        if ((autosave == true)) //no redirect cases
                        {
                            var current = new Date();
                            current.toLocaleTimeString();
                            document.getElementById("lastupdateddate").innerHTML = "Sidst opdateret: " + current;

                            console.log('Bsp saved. ' + current);

                            return false;
                        } else if (autosave == false && y == true) //completed
                        {
                            window.location.href = '/login/min-profil-projekter/';
                        }
                    }
                }
            });
    }

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" is-active", "");
        }
        document.getElementById(tabName).style.display = "flex";
        evt.currentTarget.className += " is-active";
    }

    function uploadAttachment() {

        var formData = new FormData();
        formData.append('file', $('#budgetfile')[0].files[0]);

        $('#uploadbudget').css('display', 'none');
        $("#uploadbudgetresult").css('display', 'block');
        $("#uploadbudgetresult").html(
            "Uploader fil til din forretningsplan, vent venligst..."
        ); //("Uploading the budget and attaching it to your bussiness plan, please be seated ...");

        $.ajax({
            url: "/umbraco/api/ForretningsplanApi/UploadFile",
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
                //display approved picture
                $("#uploadbudgetresult").html("Fil er vedhæftet!"); ////("Budget attached.");
                //alert(result.Data);
                bsp.BudgetFile = result.Data;
                console.log('Bsp budget attached');

            },
            error: function (err) {
                //display error picture         
                $("#uploadbudgetresult").html(err.statusText);
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + userToken);
            }
        });
    }

    function checkProgress() {
        var $tabs = $('.tabcontent');

        var $fields = $('.count');
        var count = $fields.length;
        var progress = 0;

        $tabs.each(function (elem, ind) {
            var $inputs = $('#' + ind.id + ' .count');

            var inputscount = $inputs.length;
            var inputsprogress = 0;

            $inputs.each(function (elm, ind) {
                if ($(ind).val() !== '') {
                    progress++;
                    inputsprogress++;
                }
            });

            var elemind = document.getElementById(ind.id + 'indicator');

            if (inputsprogress == inputscount) {
                cleanIndicatorClass(elemind);
                elemind.className += " is-finished";
            } else if (inputsprogress > 0) {
                cleanIndicatorClass(elemind);
                elemind.className += " is-inprogress";
            } else {
                cleanIndicatorClass(elemind);
            }
        });

        var procent = (progress / count * 100).toFixed(0);
        $('#progressProcents').css("color", "black");
        $('#progressProcents').html(procent + "%");

        if (procent == 100) {
            $('#progressProcents').css("color", "#ff6f59");
            //playSoundComplete('/media/2443/cartoon-bank-heist-sting-doug-maxwell_media-right-productions.mp3');       
        }
    }

    function cleanIndicatorClass(elem) {
        $(elem).attr('class', 'bp-category-listitem__progress-indicator');
    }

    function playSoundComplete(url) {
        const audio = new Audio(url);
        audio.play();
    }

    $("#eng").change(function () {
        if (this.checked)
            bsp.English = true;
        else
            bsp.English = false;
    });

    $("#andetchk").change(function () {
        if (this.checked)
            bsp.AndetChk = true;
        else
            bsp.AndetChk = false;
    });


    $("#showbudget").click(function () {
        $("#budget").slideToggle("fast");
    });
    $("#andetchk").click(function () {
        $("#showandet").slideToggle("fast");
    });


    $("#budgetfile").change(function () {
        $("#uploadbudgetresult").css('display', 'none');
        $('#uploadbudget').css('display', 'block');
    });

    $("#idedesc").keyup(function () {
        var text_length = $('#idedesc').val().length;
        var text_remaining = text_max - text_length;
        $('#charNum').html(text_remaining + '');
    });
</script>