@inherits Umbraco.Web.Mvc.UmbracoViewPage


<section class="nfp-faq-section">

        <div class="nfp-faq-big-container">
            <h2 class="nfp-faq-title">@Umbraco.AssignedContentItem.Value("nfpFAQTitle")</h2>
            <div class="nfp-row">
                <div class="nfp-column-container">
                    <div class="nfp-column">
                        <div class="nfp-faq-container">
                            <div class="nfp-faq">
                                <div class="nfp-faq__question">
                                    <h2>
                                        @Umbraco.AssignedContentItem.Value("nfpFAQ_1")
                                    </h2>
                                        <span>
                                            <svg id="ChevronDown" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 32 32">
                                                <path id="Path_86" data-name="Path 86" d="M32,32H0V0H32Z" fill="none"
                                                    opacity="0.87" />
                                                <path id="Path_87" data-name="Path 87"
                                                    d="M19.034,9.388l-5.173,5.173L8.688,9.388a1.329,1.329,0,1,0-1.88,1.88l6.12,6.12a1.328,1.328,0,0,0,1.88,0l6.12-6.12a1.328,1.328,0,0,0,0-1.88,1.356,1.356,0,0,0-1.893,0Z"
                                                    transform="translate(2.139 2.999)" fill="#937EFC" />
                                            </svg>
                                        </span>                            
                                    </div>
                                <div class="nfp-faq__answer">
                                    <p>@Umbraco.AssignedContentItem.Value("nfpFAQanswer_1")</p>
                                </div>
                            </div>
    
                            <div class="nfp-faq">
                                <div class="nfp-faq__question">
                                    <h2>
                                        @Umbraco.AssignedContentItem.Value("nfpFAQ_2")
                                    </h2>
                                        <span>
                                            <svg id="ChevronDown" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 32 32">
                                                <path id="Path_86" data-name="Path 86" d="M32,32H0V0H32Z" fill="none"
                                                    opacity="0.87" />
                                                <path id="Path_87" data-name="Path 87"
                                                    d="M19.034,9.388l-5.173,5.173L8.688,9.388a1.329,1.329,0,1,0-1.88,1.88l6.12,6.12a1.328,1.328,0,0,0,1.88,0l6.12-6.12a1.328,1.328,0,0,0,0-1.88,1.356,1.356,0,0,0-1.893,0Z"
                                                    transform="translate(2.139 2.999)" fill="#937EFC" />
                                            </svg>
                                        </span>                            
                                    </div>
                                <div class="nfp-faq__answer">
                                    <p>@Umbraco.AssignedContentItem.Value("nfpFAQanswer_2") </p>
                                </div>
                            </div>
    
                            <div class="nfp-faq">
                                <div class="nfp-faq__question">
                                    <h2>
                                        @Umbraco.AssignedContentItem.Value("nfpFAQ_3")
                                    </h2>
                                        <span>
                                            <svg id="ChevronDown" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 32 32">
                                                <path id="Path_86" data-name="Path 86" d="M32,32H0V0H32Z" fill="none"
                                                    opacity="0.87" />
                                                <path id="Path_87" data-name="Path 87"
                                                    d="M19.034,9.388l-5.173,5.173L8.688,9.388a1.329,1.329,0,1,0-1.88,1.88l6.12,6.12a1.328,1.328,0,0,0,1.88,0l6.12-6.12a1.328,1.328,0,0,0,0-1.88,1.356,1.356,0,0,0-1.893,0Z"
                                                    transform="translate(2.139 2.999)" fill="#937EFC" />
                                            </svg>
                                        </span>                            
                                    </div>
                                <div class="nfp-faq__answer">
                                    @Umbraco.AssignedContentItem.Value("nfpFAQanswer_3")
                                </div>
                            </div>
                            <div class="nfp-faq">
                                <div class="nfp-faq__question">
                                    <h2>
                                        @Umbraco.AssignedContentItem.Value("nfpFAQ_4")
                                    </h2>
                                        <span>
                                            <svg id="ChevronDown" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 32 32">
                                                <path id="Path_86" data-name="Path 86" d="M32,32H0V0H32Z" fill="none"
                                                    opacity="0.87" />
                                                <path id="Path_87" data-name="Path 87"
                                                    d="M19.034,9.388l-5.173,5.173L8.688,9.388a1.329,1.329,0,1,0-1.88,1.88l6.12,6.12a1.328,1.328,0,0,0,1.88,0l6.12-6.12a1.328,1.328,0,0,0,0-1.88,1.356,1.356,0,0,0-1.893,0Z"
                                                    transform="translate(2.139 2.999)" fill="#937EFC" />
                                            </svg>
                                        </span>                            
                                    </div>
                                <div class="nfp-faq__answer">
                                    @Umbraco.AssignedContentItem.Value("nfpFAQanswer_4")
                                </div>
                            </div>
                            @*<div class="nfp-faq-button">
                                <button><a href="https://www.startupcentral.dk/faq">@Umbraco.GetDictionaryValue("FAQ", "Læs hele FAQ")</a></button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
<script>
    var acc = document.getElementsByClassName("nfp-faq__question");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("is-open");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>