@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";

    // Ny instans af ForretningsplanController
    StartupCentral.Code.Controllers.ForretningsplanController fc =
    new StartupCentral.Code.Controllers.ForretningsplanController();

    // Paring af form felter med felterne i Umbraco.
    fc.Add("prodprice", "wwprodprice");
    fc.Add("produdregn", "wwprodudregn");
    fc.Add("prodsaleplace", "wwprodsaleplace");
    fc.Add("prodeksi", "wwprodeksi");
    fc.Add("prodmarkedsf", "wwprodmarkedsf");

    var url = HttpContext.Current.Request.RawUrl.Split(new[] { '/' }, StringSplitOptions.RemoveEmptyEntries);

    if (IsPost)
    {
        // Save gemmer i Umbraco på noden af pågældende 'documenttypename'.
        fc.Save(HttpContext.Current.Request, "forretningsplan");

        // Henter url'en til næste side i guiden.
        string nextUrl = fc.GetNextPageUrl(Model.Content.Id);
        if (!string.IsNullOrEmpty(nextUrl))
        {
            HttpContext.Current.Response.Redirect(nextUrl);
        }
    }
    else
    {
        if (url.Length > 3 && url[3].Contains("?id="))
        {
            // Loading the 'draft' ('kladde') business plan.
            fc.Load("forretningsplan");
        }
    }

    @Html.Raw(fc.BuildAutoSaveScript(Request.QueryString["id"]))


    <main id="sc-businessplan" class="sc-businessplan">
        <div class="container">
            <section class="businessplan">
                <div class="businessplan-container">

                    <div class="businessplan-navigation-container">
                        <button class="button dropButton">Steps</button>
                        @Umbraco.RenderMacro("BlueNavMenu")
                    </div>

                    <div class="businessplan-form-container">
                        @Umbraco.RenderMacro("FormTop")

                        <form action="" method="post" class="businessplan-form" name="salgmarkedsfoering" id="introduktion">
                            <h2 class="headline-2">
                                @if (CurrentPage.wwoverskrift != "")
                                {
                                    @Page.wwoverskrift
                                }
                                else
                                {
                                    @Page.Name
                                }
                            </h2>
                            <p>@Page.wwmanchet</p>

                            <div class="form-container">
                                <label for="prodprice">
                                    <span>Beskriv priserne for produktet</span>
                                </label>
                                <textarea name="prodprice" id="prodprice" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("prodprice")</textarea>

                                @if (CurrentPage.wwinspi1 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_1">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-container">
                                <label for="produdregn">
                                    <span>Hvordan er priserne udregnet og hvad er overskudsgraden?</span>
                                </label>
                                <textarea name="produdregn" id="produdregn" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("produdregn")</textarea>

                                @if (CurrentPage.wwinspi2 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_2">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-container">
                                <label for="prodsaleplace">
                                    <span>Hvordan skal salget foregå - og hvem skal stå for det?</span>
                                </label>
                                <textarea name="prodsaleplace" id="prodsaleplace" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("prodsaleplace")</textarea>

                                @if (CurrentPage.wwinspi3 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_3">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-container">
                                <label for="prodeksi">
                                    <span>Hvordan skal kunderne finde ud af at produktet eksisterer?</span>
                                </label>
                                <textarea name="prodeksi" id="prodeksi" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("prodeksi")</textarea>

                                @if (CurrentPage.wwinspi4 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_4">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-container">
                                <label for="prodmarkedsf">
                                    <span>Hvilke udgifter er der til markedsføring, og hvordan skal det foregå?</span>
                                </label>
                                <textarea name="prodmarkedsf" id="prodmarkedsf" class="form-control" placeholder="Skriv..." rows="6">@fc.GetValue("prodmarkedsf")</textarea>

                                @if (CurrentPage.wwinspi5 != "")
                                {
                                    <div class="inspo">
                                        <a href="javascript:void(0);" class="inspiration" data-toggle="modal" data-target="inspi_5">Brug for inspiration<i class="fas fa-angle-right"></i></a>
                                    </div>
                                }

                            </div>

                            <div class="form-footer" id="formbottom">
                                @*<div class="footer-buttons" onclick="javascript:saveCurrentPage()" id="autosave">
                                        <span>Gem Kladde</span>
                                    </div>

                                    <div class="footer-buttons">
                                        <input type="submit" class="button" value="Videre">
                                    </div>*@

                                <input type="submit" class="button startButton" value="Videre" id="submitbsp" onclick="submitBPS()">
                                <a id='sendingBlock' style='display: none;'>Gemmer din forretningsplan ...</a>
                            </div>



                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
}

@for (int i = 1; i <= 5; i++)
{
    <div class="modal-container" id="inspi_@i" role="dialog">
        <div class="modal">
            <div class="sc-popup inspo-popup">
                <div class="popup-header primary">
                    @if (i == 1)
                    {
                        @Page.wwoverskrift1
                    }
                    @if (i == 2)
                    {
                        @Page.wwoverskrift2
                    }
                    @if (i == 3)
                    {
                        @Page.wwoverskrift3
                    }
                    @if (i == 4)
                    {
                        @Page.wwoverskrift4
                    }
                    @if (i == 5)
                    {
                        @Page.wwoverskrift5
                    }
                </div>
                <div class="popup-text">
                    @if (i == 1)
                    {
                        @Page.wwinspi1
                    }
                    @if (i == 2)
                    {
                        @Page.wwinspi2
                    }
                    @if (i == 3)
                    {
                        @Page.wwinspi3
                    }
                    @if (i == 4)
                    {
                        @Page.wwinspi4
                    }
                    @if (i == 5)
                    {
                        @Page.wwinspi5
                    }
                </div>
                <div class="popup-buttons centered">
                    <button class="button-primary" id="closeinsp" onclick="closeInspir()" aria-label="Close">Tak for din Inspiration!</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.inspiration').click(function () {
            var i = $(this).attr('data-target');

            $('#' + i).addClass('active');
        });
    });

    function closeInspir() {
        $('.modal-container').removeClass('active');
    }

    function submitBPS() {
        $('#submitbsp').hide();
        $('a#sendingBlock').show();
    }
</script>


@*<section class="startupcentralbackground">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="javascript:void(0);" class="visible-xs wizradbtn">Wizard menu</a>
                    <div class="wizardmenumobile fleft w100" style="display:none;">@Umbraco.RenderMacro("BlueNavMenu")</div>
                    <div class="formwrapper shadowlight mt80">
                        <div class="leftnavi bluebg col-md-3 col-xs-12 hidden-xs">
                            @Umbraco.RenderMacro("BlueNavMenu")
                        </div>
                        <div class="rightformother col-md-8 col-xs-12">
                            @Umbraco.RenderMacro("FormTop")
                            <form action="" method="post" class="wizardform" name="introduktion" id="introduktion">
                                @Umbraco.RenderMacro("CurrentFormHeadManchet")
                                <div class="form-group">
                                    <label for="prodprice">Beskriv priserne for produktet</label>
                                    @if (CurrentPage.wwinspi1 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_1">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="prodprice" class="form-control" id="prodprice" placeholder="Skriv..." rows="6">@fc.GetValue("prodprice")</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="produdregn">Hvordan er priserne udregnet og hvad er overskudsgraden?</label>
                                    @if (CurrentPage.wwinspi2 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_2">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="produdregn" class="form-control" id="produdregn" placeholder="Skriv..." rows="6">@fc.GetValue("produdregn")</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="prodsaleplace">Hvordan skal salget foregå - og hvem skal stå for det?</label>
                                    @if (CurrentPage.wwinspi3 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_3">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="prodsaleplace" class="form-control" id="prodsaleplace" placeholder="Skriv..." rows="6">@fc.GetValue("prodsaleplace")</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="prodeksi">Hvordan skal kunderne finde ud af at produktet eksisterer?</label>
                                    @if (CurrentPage.wwinspi4 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_4">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="prodeksi" class="form-control" id="prodeksi" placeholder="Skriv..." rows="6">@fc.GetValue("prodeksi")</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="prodmarkedsf">Hvilke udgifter er der til markedsføring, og hvordan skal det foregå?</label>
                                    @if (CurrentPage.wwinspi5 != "")
                                    {
                                        <span class="f14 pull-right "><a href="javascript:void(0);" class="inspicolor" data-toggle="modal" data-target="#inspi_5">Brug for inspiration <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    }
                                    <textarea name="prodmarkedsf" class="form-control" id="prodmarkedsf" placeholder="Skriv..." rows="6">@fc.GetValue("prodmarkedsf")</textarea>
                                </div>
                                <div class="form-bottom">
                                    <div id="autosave" class"pull-left">Gem kladde</div>
                                    <input type="submit" class="btnlightbg white pull-right" value="Videre">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*@for (int i = 1; i <= 5; i++)
    {
        <div class="modal fade" id="inspi_@i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="inspimodalcontent">
                    <button type="button" class="closeinspi" data-dismiss="modal" aria-label="Close"><img src="/images/close.gif"></button>
                    <div class="modal-header">
                        <h4 class="modal-title f25 mb25 fw700 lh26" id="myModalLabel">
                            @if (i == 1)
                            {
                                @Page.wwoverskrift1
                            }
                            @if (i == 2)
                            {
                                @Page.wwoverskrift2
                            }
                            @if (i == 3)
                            {
                                @Page.wwoverskrift3
                            }
                            @if (i == 4)
                            {
                                @Page.wwoverskrift4
                            }
                            @if (i == 5)
                            {
                                @Page.wwoverskrift5
                            }
                        </h4>
                    </div>
                    <div class="f18 lh26 fw400">
                        @if (i == 1)
                        {
                            @Page.wwinspi1
                        }
                        @if (i == 2)
                        {
                            @Page.wwinspi2
                        }
                        @if (i == 3)
                        {
                            @Page.wwinspi3
                        }
                        @if (i == 4)
                        {
                            @Page.wwinspi4
                        }
                        @if (i == 5)
                        {
                            @Page.wwinspi5
                        }
                    </div>
                    <div class="mt40 mb40"><a href="#" class="btn  fw600 light btnlightblue normalbtn col-md-12 f18 lh22" data-dismiss="modal">Tak for inspiration</a></div>
                </div>
            </div>
        </div>
        <div class="popup__overlay popup__overlay--full" style="display:none;"></div>
    }*@