@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

<div class="content-header">
    <div class="row-container centered">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2 class="headline-1">
                        @Umbraco.AssignedContentItem.Value("title")
                    </h2>
                    <p class="lead">
                        @Umbraco.AssignedContentItem.Value("subTitle")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
</div>

<main class="sc-guest-aboutus">
    <section>
        <div class="row-container">
            <div class="row center-align-columns">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Danmarks fedeste platform</h3>
                        <p>

                            Startup Central er et netværk for iværksættere og selvstændige, der har eksisteret siden
                            februar 2018. Vi holder til i Horsens, men hjælper iværksættere i hele landet! Vi
                            hjælper
                            både iværksættere med allerede etableret virksomhed og dig, som går med tanken om at
                            starte
                            en virksomhed, men ikke ved hvor du skal starte.
                        </p>
                        <p>
                            Vi har siden 2018 hjulpet mere end 7.500 iværksættere og selvstændige på vej mod succes,
                            og
                            er klar på at hjælpe dig med din rejse til succes.
                        </p>
                        <p>
                            Vi brænder for at hjælpe dig med at få succes med dine erhvervsmæssige mål. Vores
                            passion er
                            at gå den ekstra mil, for at nå i mål med dine mål! Hos Startup Central sørger vi for
                            vores
                            medlemmers interesser og gør det overskueligt at være iværksætter og selvstændig gennem
                            et
                            netværk, hvor alt er samlet ét sted - ambitionen er at være en
                            <strong>one-stop-shop</strong>.
                        </p>
                        <p>
                            Vi ønsker at spille en aktiv rolle i erhvervslivet, ved at være dit startpunkt som
                            iværksætter og selvstændig, det gør vi ved at sikre dig de bedste vilkår fra idé til
                            udførelse. Vores vision er at skabe flere virksomheder i Danmark – og dermed også flere
                            arbejdspladser for at få et endnu stærkere samfund.
                        </p>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img class="content-image" src="/media/2407/om-os.svg" alt="Startup Central About">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">3 grunde til at blive en del af Startup Central</h3>
                        <ol>
                            <li>
                                <span><strong>Det er klogt</strong></span>
                                <p>
                                    Det kan være svært at sidde med en idé, du ikke helt kan gennemskue, hvordan du
                                    kommer videre med – eller at sidde med en virksomhed, som ikke skaber de
                                    resultater du ønsker.
                                </p>
                                <p>
                                    Som en del af vores netværk giver vi dig den hjælp, du behøver for at nå dine
                                    mål og skabe resultater.
                                </p>
                            </li>
                            <li>
                                <span><strong>Du sparer penge</strong></span>
                                <p>
                                    Lad os bare være ærlige – det er dyrt at være iværksætter! Der er mange
                                    nødvendige udgifter ved opstart og vedligeholdes af virksomhed. Udgifterne er
                                    store, derfor sørger vi for, at du som medlem får kontant rabat på en lang række
                                    servicer og programmer, så du i stedet kan bruge pengene på alt det sjove!
                                </p>
                            </li>
                            <li>
                                <span><strong>Det er billigt at blive en del af vores netværk!</strong></span>
                                <p>
                                    Et medlemskab hos Startup Central koster cirka det samme som tre fadøl på den
                                    lokale – det holder bare lidt længere!
                                </p>
                                <p>
                                    Fra 129 kr./md. får du adgang til vores kæmpe fordelsforum, der indebærer
                                    coaching, netværk, vidensdeling, store rabatter på mange forskellige eksterne
                                    services og meget mere!
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Startup Centrals historie</h3>
                        <p>
                            Startup Central er startet af Anders Fogh, der i dag sidder som CEO. Hans drivkraft for
                            at starte Starup Central opstod, da han selv sad som spirende iværksætter og forgæves
                            forsøgte at finde hjælp til en forretningsidé.
                        </p>
                        <p>
                            Han bemærkede, at der manglede et samlet sted, hvor iværksættere kunne finde
                            <strong>al</strong> den
                            hjælp og viden, som er nødvendig, når man starter en virksomhed eller har en etableret
                            virksomhed.
                        </p>
                        <p>

                            Efter flere timers research måtte Anders konstatere, at mange også havde forsøgt at
                            finde et forum for iværksættere, men at ingen havde lykkedes med det – hvilket blev
                            startskuddet til, hvad der nu hedder Startup Central. Men der kan være langt fra en god
                            idé til en reel opstart, som mange iværksættere og selvstændige har erfaret.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Vores kerneværdier</h3>
                        <span><strong> Vores vision </strong></span>
                        <p>
                            Iværksætteri er for alle med en drøm. Det skal bare være nemmere, billigere og mere
                            inkluderende at udleve den.
                        </p>
                        <span><strong>Vores mission</strong></span>
                        <p>
                            Vi vil være samlingspunktet for iværksættere og selvstændige. Ét sted hvor al viden om
                            det at være iværksætter og selvstændig kan findes. Vi vil være en nødvendighed i dansk
                            erhverv.
                        </p>
                        <span><strong>Vores værdier</strong></span>
                        <p>
                            Succes for dig, succes for os – vi trives i fællesskab ved transparant kommunikation.
                        </p>
                        <span><strong>Vores kultur</strong></span>
                        <p>
                            Vi har en bankende passion for iværksætteri. For os handler iværksætteri om innovation;
                            skubbe grænser og eksperimentere med det kendte, for at skabe noget nyt. Alt sammen i
                            håb om at kunne inspirere flere til at starte egen virksomhed.
                        </p>
                        <p>
                            Vi værdsætter derfor kreative, modige og engageret medarbejdere, der vil være med til at
                            styrke iværksætteriets miljø.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Vores forretningsmodel</h3>
                        <p>
                            Fra idé til virkelighed - vi arbejder ud fra den samme forretningsmodel, som vi tilbyder
                            vores medlemmer. Hele processen fra idé til virkelighed er inkorporeret i Startup
                            Centrals forretningsmodel. For at gøre din idé til en realitet, skal der først
                            udarbejdes en <a href="/forretningsplanen/" class="link">forretningsplan</a> - men
                            hvordan gør man det bedst muligt, specielt med
                            investormøder for øje?
                        </p>
                        <p>
                            Hos Startup Central ved vi, at det kan være svært at holde overblikket og navigere i
                            alle processerne, der er ved at starte en virksomhed. Derfor er vores målsætning at
                            hjælpe dig <strong>hele vejen fra idé til virkelighed</strong>.
                        </p>
                        <p>
                            Som en del af Startup Centrals netværk får du bl.a. en fyldestgørende model over en
                            forretningsplan, der er udarbejdet i samarbejde med business angles; modellen skaber
                            grundlaget for din virksomhedsidé.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Vi deler viden og erfaring, som skaber vækst</h3>
                        <p>
                            Vejledning og sparring har en stor betydning for iværksættere og selvstændige, derfor
                            udgør dette vores produkt i forretningsplanen. At kunne sparre med erhvervsfolk om deres
                            erfaringer, og dermed undgå at begå fejl, er essentielt for at få succes med en
                            nyopstartet eller etableret virksomhed.
                        </p>
                        <p>
                            Sparring og vejledning er eksistensgrundlaget for Startup Central og hjalp os med at
                            komme godt fra start!
                        </p>
                        <p>
                            Vores ambition er derfor at give alle medlemmer hos Startup Central, samme mulighed for
                            at opnå succes. Som medlem får du adgang til <a href="/partnere/#All"
                                                                            class="link">tilbud</a> inden for bl.a. regnskab og
                            forsikring, samt adgang til vores unikke coaches, som p.t. tæller <strong>
                                over 70 <a href="/coaches/#All" class="link">coaches</a>
                            </strong>, som
                            er klar til at hjælpe med vejledning og sparring inden for mere end 50 brancher.
                        </p>
                        <p>
                            I takt med at Startup Central voksede sig større, bemærkede vi en øget efterspørgsmål
                            for et netværk blandt vores medlemmer. Et netværk hvor medlemmer kan sparre med
                            hinanden. Derfor startede vi det eksklusive netværk <strong>
                                <a href="https://www.facebook.com/groups/startup.lounge/" class="link">
                                    Startup
                                    Lounge
                                </a>
                            </strong>.
                        </p>
                        <p>
                            I Startup Lounge sparrer vores medlemmer og coaches med hinanden om de tanker, idéer og
                            bekymringer de har i forhold til deres iværksætteri. Alle byder ind, for i fællesskab at
                            skabe et bedre iværksættermiljø. Intet spørgsmål er for lille eller stort til at blive
                            besvaret.
                        </p>
                        <p>
                            Vi tror på, at vi sammen kan skabe et stærkere erhvervsliv for iværksættere og
                            selvstændige i Danmark, hvis vi står sammen og hjælper hinanden med netværk og
                            vidensdeling. Vi tror på, at vi kan få det lettere økonomisk og vækste vores
                            forretninger, hvis vi står sammen!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Fordelagtige priser hos vores samarbejdspartnere </h3>
                        <p>
                            Et parameter som er vigtigt i forretningsplanen, er budgettet. Vi erfarede selv i
                            opstarten af Startup Central, at alle nødvendige service for iværksættere og
                            selvstændige er dyre, heriblandt: regnskabsprogram, forsikring, hjemmeside og meget
                            mere. Derudover brugte vi lang tid på at finde de forskellige nødvendigheder - det
                            gjorde processen uoverskuelig.
                        </p>
                        <p>
                            Vi forhandler derfor jævnligt priserne på alle nødvendige servicer til vores medlemmer,
                            som gennem os får fordelagtige priser hos et stort udvalg af samarbejdspartnere. Det
                            hele er samlet ét sted, så der ingen unødvendig spildtid er.
                        </p>
                        <p>
                            Nyopstartede virksomheder har ofte et stramt budget, derfor er vores mål at sikre, at du
                            som iværksætter og selvstændig kan få de <strong>mest fordelagtige priser</strong> på
                            disse servicer –
                            det kan blive mange penge på sigt, som du kan bruge på sjovere ting i din virksomhed!
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>

</main>




@*
    <div class="row-container">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2>@Umbraco.AssignedContentItem.Value("teamTitle")</h2>
                    <p>@Umbraco.AssignedContentItem.Value("teamS")</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-container">
                <div class="column content-column">
                    @foreach (var employee in Umbraco.Content(10839).Children().Where(x=>x.IsVisible()))
                    {
                        var empPhp = employee.Value<Image>("employeePicture");
                        var empName = employee.Value("employeeName");
                        var empPosition = employee.Value("employeePosition");
                        var empQ = employee.Value("employeeQuote");
                        var empEmail = employee.Value("employeeEmail");

                        <div class="sc-staff-card">
                            @if (empPhp != null)
                            {
                                <div class="sc-staff-card__image">
                                    <img class="entity-image-104 entity-image-circle" src="@empPhp.Url" alt="">
                                </div>
                            }

                            <div class="sc-staff-card__body">
                                <h3 class="sc-staff-card__name">@empName</h3>
                                <h3 class="sc-staff-card__title">@empPosition</h3>
                                <p class="sc-staff-card__quote">
                                    @empQ
                                </p>
                                <span class="sc-staff-card__email">@empEmail</span>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>*@

@*<main class="sc-team">
    <section class="sc-team-history">
        <div class="container card">
            <div class="title-box">
                <h2 class="headline-2">@Umbraco.AssignedContentItem.Value("historyTitle")</h2>
                <h2>@Umbraco.AssignedContentItem.Value("historySubtitle")</h2>
            </div>

            This is messed up dont do it like this
            <p>
                Startup Central er et netværk for iværksættere og selvstændige, der har eksisteret siden februar 2018. Vi holder til
                i Horsens, men hjælper iværksættere i hele landet!
                <br><br>
                Vi brænder for at hjælpe dig med at få succes med dine erhvervsmæssige mål, og vores passion er at gå den ekstra mil
                for at <strong>nå i mål med dine mål</strong>! Vores mål er at skabe flere virksomheder i Danmark – og dermed også flere
                arbejdspladser for at få et endnu stærkere samfund.
            </p>

            <div class="extra-container">
                <div class="images-container">
                    <img src="/media/2285/3-gyldne-grunde-til-et-medlemskab.png" alt="#!">
                </div>
                <div class="text-container">

                    <h2>3 grunde til at blive en del af Startup Central</h2>
                    <br><br>
                    <p>
                        <strong>Det er dumt at lade være</strong>
                        <br>

                        Det kan være svært at sidde med en idé, du ikke helt kan gennemskue, hvordan du kommer
                        videre
                        med – eller at sidde med en virksomhed, der ikke skaber de resultater, du ønsker.

                        <br><br>


                        Som en del af vores netværk giver vi dig den hjælp, du behøver for at nå dine mål.
                        <br><br>



                        <strong>Det er dyrt at lade være</strong>
                        <br>
                        Lad os bare være ærlige – det er ikke billigt at være iværksætter!


                        Listen over nødvendige udgifter kan hurtigt vokse sig stor og uoverskuelig. Derfor sørger vi
                        for, at du som medlem får kontant rabat på en lang række ydelser og programmer, så du i
                        stedet
                        kan bruge pengene på alt det sjove!
                        <br><br>



                        <strong>Det er billigt at blive en del af vores netværk!</strong>
                        <br>
                        Et medlemskab hos Startup Central koster cirka det samme som tre fadøl på den lokale – det
                        holder bare lidt længere!

                        <br><br>

                        For kun 149 kr/md. får du adgang til vores kæmpe fordelsunivers, der indebærer
                        coaching, netværk, store rabatter på mange forskellige eksterne services og meget mere!

                    </p>
                </div>
            </div>

            <p>@Umbraco.AssignedContentItem.Value("historyText")</p>

            <br>
            <br>
        </div>
    </section>

    <section class="sc-team-staff">
        <div class="title-box">
            <h2 class="headline-2">@Umbraco.AssignedContentItem.Value("teamTitle")</h2>
            <p class="lead"></p>
        </div>
        <div class="container">
            @foreach (var employee in Umbraco.Content(10839).Children().Where(x=>x.IsVisible()))
            {
                var empPhp = employee.Value<Image>("employeePicture");
                var empName = employee.Value("employeeName");
                var empPosition = employee.Value("employeePosition");
                var empQ = employee.Value("employeeQuote");
                var empEmail = employee.Value("employeeEmail");

                <div class="staff-body">
                    <div class="staff card centered">

                        @if (empPhp != null)
                        {
                            <div class="staff-image">
                                <img src="@empPhp.Url" alt="">
                            </div>
                        }

                        <div class="staff-text">
                            <h2>@empName</h2>
                            <h2 class="position">@empPosition</h2>
                            <p class="lead">@empQ</p>
                        </div>
                        <div class="staff-social">
                            <span class="email">@empEmail</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>*@

@*@{ Html.RenderAction("RenderAboutHeader", "About");}
    @{ Html.RenderAction("RenderAboutHistory", "About");}

    @{ Html.RenderAction("RenderAboutTeam", "About");}

    @Html.Partial("~/Views/Partials/Sitelayout/_SpinWheel.cshtml")*@
