@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using StartupCentral.Code.Class
@using StartupCentral.Extensions

@{
    Layout = "MasterNoIndex.cshtml";

    var currentDate = DateTime.Now.Year;

    IMember currentMember = null;
    string errorMessage = string.Empty;
    string username = "";
    string email = "";
    string password = "";
    string mobilenumber = "";
    string promocode = "";
    string concent = "false";

    UpodiWrapperService upodiWrapperService = new UpodiWrapperService();

    int mediaItemId = 0;
    IEnumerable<IMember> pList = ApplicationContext.Current.Services.MemberService.GetMembersByMemberType("partner");

    if (IsPost)
    {
        if (!string.IsNullOrEmpty(Request.Form["email"]))
        {

            if (!string.IsNullOrEmpty(Request.Form["promocode"]))
            {
                promocode = Request.Form["promocode"];
                var isValidPromocode = System.Threading.Tasks.Task.Run(() => upodiWrapperService.ValidateDiscountCode(promocode)).GetAwaiter().GetResult();
                if (!isValidPromocode) //
                {
                    errorMessage = "Promokoden er forkert eller ikke længere tilgængelig";
                }
            }

            email = Request.Form["email"];
            StartupCentral.Code.Model.ValidationResponse response = StartupCentral.Code.Class.Emailing.ValidateEmail(email);

            if (!response.IsValid)
            {
                errorMessage = response.Message;
            }

            if (!string.IsNullOrEmpty(Request.Form["username"]))
            {
                username = Request.Form["username"];
            }

            if (!string.IsNullOrEmpty(Request.Form["password"]))
            {
                password = Request.Form["password"];
            }

            if (!string.IsNullOrEmpty(Request.Form["mobilenumber"]))
            {
                mobilenumber = Request.Form["mobilenumber"];
            }

            if (Request.Form["conc"] != null)
            {
                var res = Request.Form["conc"];

                if (res == "on")
                {
                    concent = "true";
                }

            }

            if (string.IsNullOrEmpty(errorMessage))
            {
                IMember member = ApplicationContext.Current.Services.MemberService.CreateMemberWithIdentity(email, email, username, "student");

                if (member != null)
                {

                    member.SetValue("wwmobile", mobilenumber);
                    member.SetValue("wwMobilePayAbonnementsDato", null);

                    member.SetValue("wwname", username);
                    member.SetValue("wwemail", email);
                    member.IsApproved = false;

                    ApplicationContext.Current.Services.MemberService.Save(member);
                    ApplicationContext.Current.Services.MemberService.AssignRole(email, "student");
                    ApplicationContext.Current.Services.MemberService.SavePassword(member, password);


                    //Emailing.SendApprovvalEmail(member,password,true); 
                    //Emailing.SendCreationEmail(member, password);

                    currentMember = member;

                    Response.Redirect(string.Concat("/betaling-aarlig/?memberkey=", member.Key, "&promokode=", promocode, "&concentletters=", concent), true);
                    return;
                }
            }

        }
    }
}


<main id="sc-register-page" class="user-input-page">
    
    <div class="input-page-floating">
        @if (pList.Count() > 0)
        {
            foreach (var partner in pList.Where(itm => itm.GetValue<bool>("wwunavailable") == false).OrderBy(itm => itm.Name).OrderBy(itm => itm.Name))
            {
                if (partner.GetValue<string>("wwpartnerAvatar").IsNumeric())
                {
                    mediaItemId = Convert.ToInt32(partner.GetValue<string>("wwpartnerAvatar"));
                }
                else if (!string.IsNullOrEmpty(partner.GetValue<string>("wwpartnerAvatar")))
                {
                    mediaItemId = partner.GetValue<string>("wwpartnerAvatar").GetIdByUdi();
                }

                <img class="input-page-floating__image" src=@Umbraco.Media(mediaItemId).Url() alt="">
            }
        }
    </div>
    <div class="sc-register-container" style="justify-content:center;">
        <div class="sc-register-header" style="margin-top: 0;">
            <img src="/media/1648/suc-blue-logo.svg" alt="#">
            <div>
                <h2>@Model.Value("RegisterPageText")</h2>
                <br />
                <p>@Umbraco.AssignedContentItem.Value("createAccountText")</p>
            </div>


            <div class="tooltip">
                <i class="far fa-question-circle">
                    <span class="tooltip-text">
                        I gratis perioden er der ingen binding.
                        Efter prøveperioden er udløbet vil der være binding på løbende måned plus en måned.

                        Læs mere om hvad vi tilbyder.
                    </span>
                </i>
            </div>

        </div>


        <div class="sc-register-content">
            <div class="register-extra register-extra--left">
                <div class="register-extra__title">
                    <h3>@Umbraco.AssignedContentItem.Value("leftContainerTitle")</h3>
                </div>
                <div class="register-extra__content">
                    <p>@Umbraco.AssignedContentItem.Value("leftContainerText")</p>
                </div>
            </div>

            <div class="register-extra  register-extra--right">
                <div class="register-extra__title">
                    <h3>@Umbraco.AssignedContentItem.Value("rightContainerTitle")</h3>
                </div>
                <div class="register-extra__content">
                    <p>@Umbraco.AssignedContentItem.Value("rightContainerText")</p>
                </div>
                <br>
<div class="tp-widget-container" style="width: auto">
                <div class="trustpilot-widget" data-locale="da-DK" data-template-id="5613c9cde69ddc09340c6beb" data-businessunit-id="5bf6a8c5f13cca00015104ed" data-style-height="100%" data-style-width="100%" data-theme="light">
                    <a href="https://dk.trustpilot.com/review/startupcentral.dk" target="_blank" rel="noopener">Trustpilot</a>
                </div>
            </div>            </div>

            <form method="post" id="registrationForm">
                <input hidden name="formaction" value="registration" />

                <!-- Display the error -->
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <p class="text-center">
                        <font color="red">@errorMessage</font>
                    </p>
                    <br />
                }

                <!-- Name -->
                <div class="form-container">
                    <label for="firstname" class="label-name">
                        <span class="content-name">Navn / Virksomhedsnavn</span>
                    </label>
                    <div class="input-container">
                        <input type="text" name="username" autocomplete="on" required />
                        <span><i class="far fa-user"></i></span>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-container">
                    <label for="email" class="label-name">
                        <span class="content-name">Email</span>
                    </label>
                    <div class="input-container">
                        <input type="email" name="email" autocomplete="on" required />
                        <span><i class="far fa-envelope"></i></span>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-container">
                    <label for="password" class="label-name">
                        <span class="content-name">Password</span>
                    </label>
                    <div class="input-container">
                        <input type="password" id="pass" name="password" minlength="6" required />
                        <span><i class="fas fa-lock"></i></span>
                    </div>
                </div>

                <!-- Phone number -->
                <div class="form-container">
                    <label for="telephone" class="label-name">
                        <span class="content-name">Telefonnummer</span>
                    </label>
                    <div class="input-container" id="phone">
                        <span>+45</span>
                        <input type="tel" id="telephone" name="mobilenumber" autocomplete="on" maxlength="8" required />
                    </div>
                </div>

                <!-- Promo -->
                <div class="form-container" style="display:none;">
                    <label for="lastname" class="label-name">
                        <span class="content-name">Promokode</span>
                        <div class="tooltip">
                            <i class="far fa-question-circle"></i>
                            <span class="tooltip-text">
                                I gratis perioden er der ingen binding.
                                Efter prøveperioden er udløbet vil der være binding på løbende måned plus en måned.
                                Læs mere om hvad vi tilbyder.
                            </span>
                        </div>
                    </label>
                    <div class="input-container">
                        <input type="text" name="promocode" autocomplete="off"
                            value="@Umbraco.AssignedContentItem.Value(" promocode")" />
                        <span><i class="fas fa-percent"></i></span>
                    </div>
                </div>

                <div class="form-container">
                    <label class="checkbox">
                        <span>Jeg har læst, og accepterer Startup Centrals <a class="link" href="/brugerbetingelser/" target="_blank">brugerbetingelser</a>.</span>
                        <input type="checkbox" id="brug" name="brug" class="checkbox" required>
                        <span class="checkmark"></span>
                    </label>

                    <label class="checkbox">
                        <span>Ja tak, jeg vil gerne modtage relevante informationer om mit medlemskab, mine fordele og iværksætterviden.</span>
                        <input type="checkbox" id="conc" name="conc" class="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <button type="submit"
                    class="button button--full-width button--lg">@Umbraco.AssignedContentItem.Value("createAccountButton")</button>
                <span>Har du allerede en bruger? <a href="/log-in/">Klik her</a></span>
                </form>
                </div>

                <div class="sc-register-footer">
                    <div class="sc-register-footer__links">
                        <a href="/brugerbetingelser-for-startup-centrals-portal/" target="_blank">Brugerbetingselser</a>
                        <a href="/faq/" target="_blank">FAQ</a>
                        <a href="/media/1204/privatlivspolitik.pdf" target="_blank">Privatlivspolitik</a>
                    </div>
                    <div class="sc-register-footer__copyright">
                        <span>© @currentDate Startup Central | CVR - 39319942</span>
                    </div>
                </div>
</main>

<style>
    #sc-navbar-logged, #sc-navbar-main, #sc-newsletter, #main-footer {
        display: none;
    }
</style>


