@inherits Umbraco.Web.Mvc.UmbracoViewPage



<section class="statistics-info-section">
    <h2 class="statistics-info-title">@Umbraco.AssignedContentItem.Value("nfpStatsInfoTitle")</h2>
    <div class="statistics-info-big-container">
        <div class="statistics-info-rectangle-container">
            <div class="statistics-info-text">
                <h2 class="statistics-info-text_title">@Umbraco.AssignedContentItem.Value("nfpStatsInfoText11")<span class="statistics-info-number">@Umbraco.AssignedContentItem.Value("nfpStatsInfoNumber1")</span> @Umbraco.AssignedContentItem.Value("nfpStatsInfoText12")</h2>
            </div>
        </div>
        <div class="statistics-info-rectangle-container">
            <div class="statistics-info-text">
                <h2 class="statistics-info-text_title">@Umbraco.AssignedContentItem.Value("nfpStatsInfoText21") <span class="statistics-info-number">@Umbraco.AssignedContentItem.Value("nfpStatsInfoNumber2")</span> @Umbraco.AssignedContentItem.Value("nfpStatsInfoText22")</h2>
            </div>
        </div>
        <div class="statistics-info-rectangle-container">
            <div class="statistics-info-text">
                <h2 class="statistics-info-text_title">@Umbraco.AssignedContentItem.Value("nfpStatsInfoText31") <span class="statistics-info-number">@Umbraco.AssignedContentItem.Value("nfpStatsInfoNumber3")</span> @Umbraco.AssignedContentItem.Value("nfpStatsInfoText32")</h2>
            </div>
        </div>
        <div class="statistics-info-rectangle-container">
            <div class="statistics-info-text">
                <h2 class="statistics-info-text_title">@Umbraco.AssignedContentItem.Value("nfpStatsInfoText41") <span class="statistics-info-number">@Umbraco.AssignedContentItem.Value("nfpStatsInfoNumber4")</span>@Umbraco.AssignedContentItem.Value("nfpStatsInfoText42")</h2>
            </div>
        </div>
    </div>
</section>