@inherits Umbraco.Web.Mvc.UmbracoViewPage

@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1428/alexander_v_kragh.jpg" alt="Alexander Kragh">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameOne")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleOne")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameOne")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionOne")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1429/andre-boving.jpg" alt="Andre Boving">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwo")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwo")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwo")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwo")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1430/anne-hess-1.jpg" alt="Anne Hess">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThree")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThree")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThree")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThree")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1431/anne-pehrson.jpg" alt="Anne Pehrson">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFour")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFour")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFour")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFour")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1432/casper_edens.jpg" alt="Casper Edens">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFive")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFive")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFive")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFive")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1433/casper_hessellund.jpg" alt="Casper Hessellund">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameSix")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleSix")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameSix")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionSix")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1434/charlotte_park.jpg" alt="Charlotte Park">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameSeven")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleSeven")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameSeven")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionSeven")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1435/christian_lauridsen.jpg" alt="Christian Lauridsen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameEight")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleEight")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameEight")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionEight")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1436/frank_buchmann.jpg" alt="Frank Buchmann">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameNine")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleNine")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameNine")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionNine")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1437/frederik_sandgrav.jpg" alt="Frederik Sandgrav">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTen")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTen")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTen")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTen")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1438/frederik-ploug-2.png" alt="Frederik Ploug">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameEleven")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleEleven")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameEleven")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionEleven")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1439/gitte_maack.jpg" alt="Gitte Maack">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwelve")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwelve")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwelve")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwelve")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1440/hamza_kizil.jpg" alt="Hamza Kizil">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirteen")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirteen")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirteen")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirteen")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1441/hawaro_juul.jpg" alt="Hawaro Juul">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFourteen")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFourteen")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFourteen")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFourteen")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1442/henning_meisler.jpg" alt="Henning Meisler">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFifteen")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFifteen")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFifteen")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFifteen")</p>
                </div>
            </div>
        </div>
    </div>
</div>
