@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1458/maria-noerbaek.jpg" alt="Maria Noerbaek">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtyOne")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleOne")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameOne")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionOne")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1459/martin_jochens.jpg" alt="Martin Jochens">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtyTwo")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirtyTwo")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirtyTwo")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirtyTwo")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1460/mette_storgaard.jpg" alt="Mette Storgaard">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtyThree")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirtyThree")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirtyThree")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirtyThree")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1461/min_wu.jpg" alt="Min Wu">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtyFour")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirtyFour")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirtyFour")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirtyFour")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1462/mortan_storm.jpg" alt="Mortan Storm">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtyFive")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirty")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirtyFive")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirtyFive")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1463/morten_pedersen.jpg" alt="Morten Pedersen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtySix")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirtySix")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirtySix")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirtySix")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1464/niels_bidstrup.jpg" alt="Niels Bidstrup">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtySeven")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirtySeven")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirtySeven")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirtySeven")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1465/peter_berg.jpg" alt="Peter Berg">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtyEight")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirtyEight")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirtyEight")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirtyEight")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1466/peter-klit-convertimage.jpg" alt="Peter Klit">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirtyNine")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirtyNine")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirtyNine")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirtyNine")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1467/protraetbillede-af-marianne-rask.jpg" alt="Marianne Rask">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameForty")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleForty")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameForty")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionForty")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1468/rasmus_cort_hansen.jpg" alt="Rasmus Cort">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortyone")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFortyone")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortyone")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortyone")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1469/rasmus_foged.jpg" alt="Rasmus Foged">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortytwo")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFortytwo")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortytwo")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortytwo")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1470/ruben-stochholm.jpg" alt="Ruben Sotchholm">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortythree")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFortythree")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortythree")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortythree")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1471/simon_doessing.jpg" alt="Simon Doessing">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortyfour")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFortyfour")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortyfour")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortyfour")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1472/simone_chimera.jpg" alt="Simeone Chimera">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortyfive")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleForty")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortyfive")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortyfive")</p>
                </div>
            </div>
        </div>
    </div>
</div>

