@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1443/henrik_stor-convertimage-1.jpg" alt="Henrik Stor">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameSixteen")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleSixteen")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameSixteen")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionSixteen")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1444/jacob_wollenberg.jpg" alt="Jacob Wollenberg">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameSeventeen")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleSeventeen")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameSeventeen")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionSeventeen")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1445/jacob-kildetoft-henriksen.jpg" alt="Jacob Kildetoft">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameEighteen")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleEighteen")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameEighteen")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionEighteen")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1446/jesper_brok-joergensen.jpg" alt="Jesper Brok">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameNineteen")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleNineteen")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameNineteen")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionNineteen")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1447/jesper_poulsen.jpg" alt="Jesper Poulsen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentyOne")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentyOne")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentyOne")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentyOne")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1448/joergen_poulsen.jpg" alt="Joergen Poulsen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentyTwo")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentyTwo")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentyTwo")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentyTwo")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1449/john_svendsen.jpg" alt="John Svendsen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentyThree")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentyThree")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentyThree")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentyThree")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1450/karsten_madsen.jpg" alt="Karsten Madsen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentyThree")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentyThree")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentyThree")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentyThree")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1451/kasper-3-b-w-3.jpg" alt="Kasper">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentyFour")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentyFour")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentyFour")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentyFour")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1452/kenneth-jensen.jpg" alt="Kenneth Jensen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentyFive")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentyFive")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentyFive")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentyFive")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1453/kirill_korobitsyn.jpg" alt="Kirill Korobitsyn">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentySix")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentySix")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentySix")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentySix")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1454/lars_hvitved_andersen.jpg" alt="Lars Hvitved">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentySeven")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentySeven")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentySeven")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentySeven")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1455/mara_krebs.jpg" alt="Mara Krebs">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentyEight")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentyEight")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentyEight")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentyEight")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1456/mara_somesan.jpg" alt="Mara Somesan">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameTwentyNine")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleTwentyNine")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameTwentyNine")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionTwentyNine")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1457/marcus_pedersen.jpg" alt="Marcus Pedersen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameThirty")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleThirty")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameThirty")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionThirty")</p>
                </div>
            </div>
        </div>
    </div>
</div>

