@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1473/soeren_christensen.jpg" alt="Soeren Christensen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortysix")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFortysix")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortysix")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortysix")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1474/sofie-wille.jpg" alt="Sofie Wille">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortyseven")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFortyseven")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortyseven")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortyseven")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1475/steffen_fonvig.jpg" alt="Steffen Fonvig">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortyeight")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFortyeight")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortyeight")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortyeight")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1476/susanne_rode_jensen.jpg" alt="Susanne Rode Jensen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFortynine")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFortynine")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFortynine")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFortynine")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1477/susanne-convertimage.jpg" alt="Susanne ?????????">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFifty")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFifty")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFifty")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFifty")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1478/themarketingguy.jpg" alt="??????????????????">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFiftyone")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFiftyone")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFiftyone")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFiftyone")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1479/thomas_magnussen.jpg" alt="Thomas Magnussen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFiftytwo")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFiftytwo")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFiftytwo")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFiftytwo")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1480/tobias_mortensen.jpg" alt="Tobias Mortensen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFiftythree")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFiftythree")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFiftythree")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFiftythree")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1481/tommy_groen_christensen.jpg" alt="Tommy Groen">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFiftyfour")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFiftyfour")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFiftyfour")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFiftyfour")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="coach-card">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <img src="/media/1482/viktor_heide.jpg" alt="Viktor Heide">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@Umbraco.AssignedContentItem.Value("coachNameFiftyfive")</h3>
                    <p class="card-text">@Umbraco.AssignedContentItem.Value("coachSubtitleFiftyfive")</p>
                    <a href="#" class="btn btn-primary btn-block mt-auto">@Umbraco.AssignedContentItem.Value("coachButton")</a>
                </div>
                <div class="side back d-flex flex-column">
                    <h3>@Umbraco.AssignedContentItem.Value("coachNameFiftyfive")</h3>
                    <p>@Umbraco.AssignedContentItem.Value("coachDescriptionFiftyfive")</p>
                </div>
            </div>
        </div>
    </div>
</div>

